*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #45474B;
}
::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button, span, div{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .messageCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        .message{
            width: 580px;
            height: 200px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
            }
            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                }
                .cancel{
                    border: #1A4D2E 2px solid;
                }
                .cancel:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                .confirm{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                .confirm:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 5vh;
      .logo{
          width: 320px;
          display: flex;
          justify-content: space-between;
          font-size: 32px;
          font-weight: 600;
          color: #1A4D2E;
      }
      .nav{
          width: 350px;
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          font-weight: 300;
          .navEl{
              cursor: pointer;
              font-family: Urbanist;
          }
          .active{
              font-weight: 500;
          }
      }
      .iconsCon{
          width: 112px;
          display: flex;
          justify-content: space-between;
          font-size: 32px;
      }

    }
    .userContent{
        flex-direction: column;
        .userStatisticsCon{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            p{
                font-size: 24px;
                font-weight: 600;
                color: #45474B;
            }
            .userCount{
                width: 130px;
                height: 37px;
                border-radius: 6px;
                background-color: #45474B;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Josefin Sans;
                font-size: 14px;
                font-weight: 600;
                span{
                    margin-right: 5px;
                }
            }
        }
        .usersContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 15px;
            .user{
                width: 420px;
                height: 250px;
                border-radius: 15px;
                border: #1A4D2E 1px solid;
                padding: 18px;
                position: relative;
                margin-bottom: 30px;
                .icons{
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: #1A4D2E;
                    font-size: 24px;
                    i{
                        transition: 0.3s ease;
                    }
                    i:hover{
                        color: #45474B;
                    }
                }
                .topInfo{
                    width: 200px;
                    display: flex;
                    justify-content: space-between;
                    height: 65px;
                    align-items: center;
                    .userPicCon{
                        .userPic{
                            width: 65px;
                            height: 65px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
    
                    .basicCon{
                        margin-left: 10px;
                        .nameCon{
                            font-size: 24px;
                            font-weight: 500;
                            color: #45474B;
                            width: 150px;
                        }
                        .email{
                            font-size: 14px;
                            font-weight: 300;
                            margin-top: 5px;
                        }
                    }
                }
                .description{
                    font-size: 14px;
                    font-weight: 400;
                    margin-top: 12px;
                }
                .visited, .toVisit{
                    font-size: 16px;
                    font-weight: 400;
                    color: #45474B;
                    margin-top: 7px;
                    span{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .postsContent{
        width: 100%;
        flex-direction: column;
        .postStatisticsCon{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            p{
                font-size: 24px;
                font-weight: 600;
                color: #45474B;
            }
            .postCount{
                width: 130px;
                height: 37px;
                border-radius: 6px;
                background-color: #45474B;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Josefin Sans;
                font-size: 14px;
                font-weight: 600;
                span{
                    margin-right: 5px;
                }
            }
        }
        .postsContainer{
            width: 100%;
            min-height: 521px;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            flex-wrap: wrap;
            .post{
                width: 450px;
                height: 521px;
                border-radius: 15px;
                border: #1A4D2E 2px solid;
                padding: 20px;
                color: #45474B;
                margin-bottom: 40px;
                position: relative;
                .top{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 45px;
                    .author{
                        display: flex;
                        height: 100%;
                        align-items: center;
                        .author_pic{
                            width: 45px;
                            height: 45px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 10px;

                        }
                        .author_name{
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .dot{
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: #45474B;
                            margin: 0 12px;
                        }
                        .follow{
                            font-size: 20px;
                            font-weight: 400;
                        }
                    }
                    .time{
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
                .postImg{
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    border-radius: 10px;
                    margin: 15px 0;
                }
                .postTitle{
                    font-size: 28px;
                    font-weight: 700;
                }
                .postText{
                    font-size: 16px;
                    font-weight: 400;
                    margin: 7px 0;
                }
                .postText .postFullText {
                    display: none;
                }
                .readMore{
                    text-decoration: none;
                    color: #2C2E32;
                    font-weight: 600;
                    font-family: Urbanist;
                }
                .postHashtags{
                    font-size: 20px;
                    font-weight: 700;
                    color: #1A4D2E;
                }
                .actions{
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    color: #1A4D2E;
                    font-size: 24px;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    i{
                        transition: 0.3s ease;
                    }
                    i:hover{
                        color: #45474B;
                    }
                }

            }

        }
    }

}