* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #45474B;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: relative;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button, .wrap span, .wrap div {
  font-family: Urbanist;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .messageCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.wrap .messageCon .message {
  width: 580px;
  height: 200px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .messageCon .message h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
}
.wrap .messageCon .message .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .messageCon .message .buttons div {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Josefin Sans;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .messageCon .message .buttons .cancel {
  border: #1A4D2E 2px solid;
}
.wrap .messageCon .message .buttons .cancel:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .messageCon .message .buttons .confirm {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .messageCon .message .buttons .confirm:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
}
.wrap .header .logo {
  width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
  color: #1A4D2E;
}
.wrap .header .nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .header .nav .active {
  font-weight: 500;
}
.wrap .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .userContent {
  flex-direction: column;
}
.wrap .userContent .userStatisticsCon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .userContent .userStatisticsCon p {
  font-size: 24px;
  font-weight: 600;
  color: #45474B;
}
.wrap .userContent .userStatisticsCon .userCount {
  width: 130px;
  height: 37px;
  border-radius: 6px;
  background-color: #45474B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 600;
}
.wrap .userContent .userStatisticsCon .userCount span {
  margin-right: 5px;
}
.wrap .userContent .usersContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.wrap .userContent .usersContainer .user {
  width: 420px;
  height: 250px;
  border-radius: 15px;
  border: #1A4D2E 1px solid;
  padding: 18px;
  position: relative;
  margin-bottom: 30px;
}
.wrap .userContent .usersContainer .user .icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #1A4D2E;
  font-size: 24px;
}
.wrap .userContent .usersContainer .user .icons i {
  transition: 0.3s ease;
}
.wrap .userContent .usersContainer .user .icons i:hover {
  color: #45474B;
}
.wrap .userContent .usersContainer .user .topInfo {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
}
.wrap .userContent .usersContainer .user .topInfo .userPicCon .userPic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .userContent .usersContainer .user .topInfo .basicCon {
  margin-left: 10px;
}
.wrap .userContent .usersContainer .user .topInfo .basicCon .nameCon {
  font-size: 24px;
  font-weight: 500;
  color: #45474B;
  width: 150px;
}
.wrap .userContent .usersContainer .user .topInfo .basicCon .email {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.wrap .userContent .usersContainer .user .description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}
.wrap .userContent .usersContainer .user .visited, .wrap .userContent .usersContainer .user .toVisit {
  font-size: 16px;
  font-weight: 400;
  color: #45474B;
  margin-top: 7px;
}
.wrap .userContent .usersContainer .user .visited span, .wrap .userContent .usersContainer .user .toVisit span {
  font-weight: 600;
}
.wrap .postsContent {
  width: 100%;
  flex-direction: column;
}
.wrap .postsContent .postStatisticsCon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .postsContent .postStatisticsCon p {
  font-size: 24px;
  font-weight: 600;
  color: #45474B;
}
.wrap .postsContent .postStatisticsCon .postCount {
  width: 130px;
  height: 37px;
  border-radius: 6px;
  background-color: #45474B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 600;
}
.wrap .postsContent .postStatisticsCon .postCount span {
  margin-right: 5px;
}
.wrap .postsContent .postsContainer {
  width: 100%;
  min-height: 521px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.wrap .postsContent .postsContainer .post {
  width: 450px;
  height: 521px;
  border-radius: 15px;
  border: #1A4D2E 2px solid;
  padding: 20px;
  color: #45474B;
  margin-bottom: 40px;
  position: relative;
}
.wrap .postsContent .postsContainer .post .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.wrap .postsContent .postsContainer .post .top .author {
  display: flex;
  height: 100%;
  align-items: center;
}
.wrap .postsContent .postsContainer .post .top .author .author_pic {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wrap .postsContent .postsContainer .post .top .author .author_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .postsContent .postsContainer .post .top .author .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #45474B;
  margin: 0 12px;
}
.wrap .postsContent .postsContainer .post .top .author .follow {
  font-size: 20px;
  font-weight: 400;
}
.wrap .postsContent .postsContainer .post .top .time {
  font-size: 16px;
  font-weight: 300;
}
.wrap .postsContent .postsContainer .post .postImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}
.wrap .postsContent .postsContainer .post .postTitle {
  font-size: 28px;
  font-weight: 700;
}
.wrap .postsContent .postsContainer .post .postText {
  font-size: 16px;
  font-weight: 400;
  margin: 7px 0;
}
.wrap .postsContent .postsContainer .post .postText .postFullText {
  display: none;
}
.wrap .postsContent .postsContainer .post .readMore {
  text-decoration: none;
  color: #2C2E32;
  font-weight: 600;
  font-family: Urbanist;
}
.wrap .postsContent .postsContainer .post .postHashtags {
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .postsContent .postsContainer .post .actions {
  width: 60px;
  display: flex;
  justify-content: space-between;
  color: #1A4D2E;
  font-size: 24px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.wrap .postsContent .postsContainer .post .actions i {
  transition: 0.3s ease;
}
.wrap .postsContent .postsContainer .post .actions i:hover {
  color: #45474B;
}
.wrap .newsletterContent {
  width: 100%;
  height: 95vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.wrap .newsletterContent .editorContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 700px;
  height: 400px;
}/*# sourceMappingURL=admin.css.map */