* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #45474B;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: relative;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button, .wrap span, .wrap div {
  font-family: Urbanist;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
}
.wrap .header .logo {
  width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
  color: #1A4D2E;
}
.wrap .header .nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .header .nav .active {
  font-weight: 500;
}
.wrap .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .userStatisticsCon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .userStatisticsCon p {
  font-size: 24px;
  font-weight: 600;
  color: #45474B;
}
.wrap .userStatisticsCon .userCount {
  width: 130px;
  height: 37px;
  border-radius: 6px;
  background-color: #45474B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 600;
}
.wrap .userStatisticsCon .userCount span {
  margin-right: 5px;
}
.wrap .usersContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.wrap .usersContainer .user {
  width: 374px;
  height: 250px;
  border-radius: 15px;
  border: #1A4D2E 1px solid;
  padding: 18px;
  position: relative;
  margin-bottom: 30px;
}
.wrap .usersContainer .user .icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #1A4D2E;
  font-size: 24px;
}
.wrap .usersContainer .user .icons i {
  transition: 0.3s ease;
}
.wrap .usersContainer .user .icons i:hover {
  color: #45474B;
}
.wrap .usersContainer .user .topInfo {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
}
.wrap .usersContainer .user .topInfo .userPicCon .userPic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .usersContainer .user .topInfo .basicCon {
  margin-left: 10px;
}
.wrap .usersContainer .user .topInfo .basicCon .nameCon {
  font-size: 24px;
  font-weight: 500;
  color: #45474B;
  width: 150px;
}
.wrap .usersContainer .user .topInfo .basicCon .email {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.wrap .usersContainer .user .description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}
.wrap .usersContainer .user .visited, .wrap .usersContainer .user .toVisit {
  font-size: 16px;
  font-weight: 400;
  color: #45474B;
  margin-top: 7px;
}
.wrap .usersContainer .user .visited span, .wrap .usersContainer .user .toVisit span {
  font-weight: 600;
}/*# sourceMappingURL=admin.css.map */