*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #45474B;
}
::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: relative;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button, span, div{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 5vh;
      .logo{
          width: 320px;
          display: flex;
          justify-content: space-between;
          font-size: 32px;
          font-weight: 600;
          color: #1A4D2E;
      }
      .nav{
          width: 350px;
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          font-weight: 300;
          .navEl{
              cursor: pointer;
              font-family: Urbanist;
          }
          .active{
              font-weight: 500;
          }
      }
      .iconsCon{
          width: 112px;
          display: flex;
          justify-content: space-between;
          font-size: 32px;
      }

    }
    .userStatisticsCon{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        p{
            font-size: 24px;
            font-weight: 600;
            color: #45474B;
        }
        .userCount{
            width: 130px;
            height: 37px;
            border-radius: 6px;
            background-color: #45474B;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .usersContainer{
        .user{
            width: 374px;
            height: 271px;
            border-radius: 15px;
            border: #1A4D2E 1px solid;
            padding: 15px;
            position: relative;
            .icons{
                width: 60px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 15px;
                right: 15px;
                color: #1A4D2E;
                font-size: 24px;
            }
            .topInfo{
                width: 200px;
                display: flex;
                justify-content: space-between;
                .userPic{
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .basicCon{
                    .nameCon{
                        font-size: 24px;
                        font-weight: 500;
                        color: #45474B;
                    }
                    .email{
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }

        }
    }
}