*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .registration{
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #45474B;
        position: relative;
        h2{
            font-size: 48px;
            font-weight: 700;
        }
        p{
            font-size: 24px;
            font-weight: 300;
            width: 646px;
            text-align: center;
        }
        .registrationForm{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .forms{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    .formGroup{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;

                        label{
                            font-size: 14px;
                            font-weight: 300;
                            font-family: Urbanist;
                            color: #45474B;
                        }
                        input{
                            border: 1px #45474B solid;
                            border-radius: 15px;
                            height: 57px;
                        }
                        textarea{
                            border: 1px #45474B solid;
                            border-radius: 15px;
                            height: 76px;
                            resize: none;
                        }
            
                    }
                    .registrationFormLeft{
                        width: 48%;
                        .nameAndLastname{
                            display: flex;
                            justify-content: space-between;
                            .formGroup{
                                width: 265px;
                            }
                
                        }
                        .profile-picture {
                        
                            label {
                                cursor: pointer;
                                display: block;
                                width: 57px; 
                                height: 57px; 
                                border-radius: 50%;
                                overflow: hidden;
                                border: 1px solid #45474B; 
                        
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        
                            input[type="file"] {
                                display: none;
                            }
                        }
                        .passwordRules{
                            display: flex;
                            font-size: 14px;
                            font-weight: 300;
                            font-family: Urbanist;
                            margin-top: 10px;
                            .passwordRule{
                                margin: 0 2px;
                            }
                        }
                        
                    }
                    .registrationFormRight{
                        width: 48%;
                    }
                }



            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                button{
                    width: 160px;
                    height: 74px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    border: 1px #45474B solid;
                    color: #45474B;
                }
                .loginButton{
                    background-color: #fff;
                }
                .signinButton{
                    background-color: #F5EFE6;
                }
            }
        }
        .placeCard{
            width: 270px;
            position: absolute;
        }
        #placeCard1{
            transform: rotate(-47deg);
            right: -130px;
            top: 450px;
        }



        
    }

}