@media screen and (max-width: 1024px) {
    .wrap{
        padding: 0;
        overflow: hidden;

        .registration{
            width: 85%;

            h2{
                font-size: 38px;
                align-items: center;
            }
            p{
                font-size: 18px;
            }
            .registrationForm{
                .forms{
                    .registrationFormLeft{
                        .nameAndLastname{
                            .formGroup{
                                width: 200px;
                            }
                        }
                    }
                }
                .buttons{
                    margin-top: 50px;
                }
            }
        }
        .logIn{
            width: 85%;
            h2{
                font-size: 38px;
                align-items: center;
            }
            p{
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .wrap{
        padding: 30px;
        .registration{
            width: 100%;
            height: 100vh;
            .placeCard{
                display: none;
            }
            h2{
                font-size: 32px;
                align-items: center;
                margin-top: 30px;
            }
            p{
                font-size: 16px;
            }
            .registrationForm{
                width: 100%;
                height: 100%;
                .forms{
                    .registrationFormLeft{
                        .nameAndLastname{
                            .formGroup{
                                width: 160px;
                            }
                        }
                        .passwordRules{
                            font-size: 12px;
                        }
                    }
                }
                .buttons{
                    margin-top: 25px;
                }
            }
        }
        .logIn{
            width: 85%;
            .placeCard{
                display: none;
            }
            h2{
                font-size: 32px;
                align-items: center;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 426px) {
    .wrap{
        overflow-y: auto;
        padding: 30px;
        .registration{
            width: 100%;
            min-height: 100vh;
            h2{
                font-size: 32px;
                text-align: center;
                margin-top: 30px;
            }
            p{
                font-size: 14px;
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
            .registrationForm{
                width: 100%;
                height: 100%;
                .forms{
                    flex-direction: column;
                    .registrationFormLeft{
                        width: 100%;
                        .nameAndLastname{
                            width: 100%;
                            flex-direction: column;
                            .formGroup{
                                width: 100%;
                            }
                        }
                        .passwordRules{
                            font-size: 12px;
                        }
                    }
                    .registrationFormRight{
                        width: 100%;
                        margin-top: 10px;
                    }
                }
                .buttons{
                    margin-top: 25px 0;
                }
            }
        }
        .logIn{
            width: 85%;
            .placeCard{
                display: none;
            }
            h2{
                font-size: 32px;
                align-items: center;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

