* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

body {
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button {
  font-family: Urbanist;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .registration {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #45474B;
  position: relative;
}
.wrap .registration h2 {
  font-size: 48px;
  font-weight: 700;
}
.wrap .registration p {
  font-size: 24px;
  font-weight: 300;
  width: 646px;
  text-align: center;
}
.wrap .registration .registrationForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .registration .registrationForm .forms {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.wrap .registration .registrationForm .forms .formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.wrap .registration .registrationForm .forms .formGroup label {
  font-size: 14px;
  font-weight: 300;
  font-family: Urbanist;
  color: #45474B;
}
.wrap .registration .registrationForm .forms .formGroup input {
  border: 1px #45474B solid;
  border-radius: 15px;
  height: 57px;
  padding: 12px;
}
.wrap .registration .registrationForm .forms .formGroup textarea {
  border: 1px #45474B solid;
  border-radius: 15px;
  height: 82px;
  resize: none;
  padding: 12px;
}
.wrap .registration .registrationForm .forms .formGroup .passwordContainer {
  position: relative;
  display: flex;
  height: 57px;
  width: 100%;
  height: 100%;
}
.wrap .registration .registrationForm .forms .formGroup .passwordContainer input {
  position: absolute;
  width: 100%;
}
.wrap .registration .registrationForm .forms .formGroup .passwordContainer .showPasswordSignIn {
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
}
.wrap .registration .registrationForm .forms .formGroup .passwordRules {
  margin-top: 60px;
}
.wrap .registration .registrationForm .forms .registrationFormLeft {
  width: 48%;
}
.wrap .registration .registrationForm .forms .registrationFormLeft #imgLabel {
  font-size: 14px;
  font-weight: 300;
  font-family: Urbanist;
  color: #45474B;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .nameAndLastname {
  display: flex;
  justify-content: space-between;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .nameAndLastname .formGroup {
  width: 265px;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .profile-picture label {
  cursor: pointer;
  display: block;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #45474B;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .profile-picture label img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .profile-picture input[type=file] {
  display: none;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .passwordRules {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  font-family: Urbanist;
  margin-top: 65px;
}
.wrap .registration .registrationForm .forms .registrationFormLeft .passwordRules .passwordRule {
  margin: 0 2px;
}
.wrap .registration .registrationForm .forms .registrationFormRight {
  width: 48%;
}
.wrap .registration .registrationForm .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.wrap .registration .registrationForm .buttons button {
  width: 160px;
  height: 74px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  border: 1px #45474B solid;
  color: #45474B;
}
.wrap .registration .registrationForm .buttons button:hover {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .registration .registrationForm .buttons .loginButton {
  background-color: #fff;
}
.wrap .registration .registrationForm .buttons .signinButton {
  background-color: #F5EFE6;
}
.wrap .registration .placeCard {
  width: 270px;
  position: absolute;
  box-shadow: 3px 3px 8px rgba(69, 71, 75, 0.8039215686);
  cursor: pointer;
  transition: 1s ease-in-out;
}
.wrap .registration #placeCard1 {
  transform: rotate(-47deg);
  right: -130px;
  top: 480px;
  z-index: 3;
}
.wrap .registration #placeCard2 {
  transform: rotate(-24deg);
  right: -250px;
  top: 360px;
  z-index: 2;
}
.wrap .registration #placeCard3 {
  transform: rotate(44deg);
  left: -290px;
  top: -120px;
  z-index: 2;
}
.wrap .registration #placeCard4 {
  transform: rotate(19deg);
  left: -250px;
  top: 480px;
  z-index: 2;
}
.wrap .logIn {
  width: 80%;
  height: 80vh;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #45474B;
  position: relative;
}
.wrap .logIn h2 {
  font-size: 48px;
  font-weight: 700;
}
.wrap .logIn p {
  font-size: 24px;
  font-weight: 300;
  width: 646px;
  text-align: center;
  margin-bottom: 35px;
}
.wrap .logIn form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .logIn form .formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.wrap .logIn form .formGroup label {
  font-size: 14px;
  font-weight: 300;
  font-family: Urbanist;
  color: #45474B;
}
.wrap .logIn form .formGroup input {
  border: 1px #45474B solid;
  border-radius: 15px;
  height: 57px;
  width: 434px;
  padding: 12px;
}
.wrap .logIn form .formGroup .passwordContainer {
  position: relative;
  display: flex;
  height: 57px;
  width: 434px;
  height: 57px;
}
.wrap .logIn form .formGroup .passwordContainer input {
  position: absolute;
  width: 434px;
}
.wrap .logIn form .formGroup .passwordContainer .showPasswordLogIn {
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
}
.wrap .logIn form .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.wrap .logIn form .buttons button {
  width: 160px;
  height: 74px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  border: 1px #45474B solid;
  color: #45474B;
}
.wrap .logIn form .buttons button:hover {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .logIn form .buttons .login_signinButton {
  background-color: #fff;
}
.wrap .logIn form .buttons .login_loginButton {
  background-color: #F5EFE6;
}
.wrap .logIn .placeCard {
  width: 270px;
  position: absolute;
  box-shadow: 3px 3px 8px rgba(69, 71, 75, 0.8039215686);
  cursor: pointer;
  transition: 1s ease-in-out;
}
.wrap .logIn #placeCard9 {
  transform: rotate(57deg);
  left: -160px;
  top: 400px;
  z-index: 3;
}
.wrap .logIn #placeCard8 {
  transform: rotate(28deg);
  left: -220px;
  top: 320px;
  z-index: 2;
}
.wrap .logIn #placeCard7 {
  transform: rotate(-16deg);
  right: -220px;
  top: 310px;
  z-index: 2;
}
.wrap .logIn #placeCard6 {
  transform: rotate(-20deg);
  right: -100px;
  top: 310px;
  z-index: 3;
}
.wrap .logIn #placeCard5 {
  transform: rotate(-33deg);
  right: 0px;
  top: 380px;
  z-index: 2;
}

body.light-theme .wrap {
  background-color: #fff;
}
body.light-theme .wrap .auth .logIn {
  color: #45474B;
}
body.light-theme .wrap .registration .logIn {
  color: #45474B;
}
body.light-theme .wrap h2 {
  color: #45474B;
}
body.light-theme .wrap p {
  color: #45474B;
}
body.light-theme .wrap label {
  color: #45474B;
}

body.dark-theme .wrap {
  background-color: #45474B !important;
}
body.dark-theme .wrap .auth .logIn {
  color: #fff !important;
}
body.dark-theme .wrap .registration .logIn {
  color: #fff !important;
}
body.dark-theme .wrap h2 {
  color: #fff !important;
}
body.dark-theme .wrap p {
  color: #fff !important;
}
body.dark-theme .wrap label {
  color: #fff !important;
}/*# sourceMappingURL=auth.css.map */