@media screen and (max-width: 1440px) {
    .wrap{
        .mainPage{
            .greenting{
                .background-video{
                    width: 1440px !important;
                }
            }
            .howToUse{
                #usageArrow2{
                    left: 340px;
                }
                #usageArrow3{
                    left: 900px;
                }
            }
            .camera{
                .cameraCon{
                    #cameraPhoto1{
                        left: 270px;
                    }
                    #cameraPhoto2{
                        left: 260px;
                    }
                    #cameraPhoto3{
                        left: 790px;
                    }
                }
            }
        }
    }
}