*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p{
        font-family: Urbanist;
    }
    .screen {
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .mainPage{
        .greeting{
            .background-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .videoCovering{
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #00000086;
            }
        }
    }
}



