* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #45474B;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}

.wrap {
  width: 100%;
  height: 100vh;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button {
  font-family: Urbanist;
}
.wrap .screen {
  position: relative;
  width: 100%;
  height: 100vh;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage {
  width: 100%;
}
.wrap .mainPage .greeting .greetingBottom {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: 333;
}
.wrap .mainPage .greeting .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .mainPage .greeting .videoCovering {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5254901961);
}
.wrap .mainPage .greeting .greeting_elements {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  color: #fff;
}
.wrap .mainPage .greeting .greeting_elements .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
}
.wrap .mainPage .greeting .greeting_elements .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .mainPage .greeting .greeting_elements .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .mainPage .greeting .greeting_elements .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .mainPage .greeting .greeting_elements .header .nav .active {
  font-weight: 500;
}
.wrap .mainPage .greeting .greeting_elements .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 88vh;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .textCon h1 {
  font-size: 64px;
  font-weight: 700;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .textCon p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  width: 832px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon {
  width: 565px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon button {
  width: 243px;
  height: 89px;
  border-radius: 15px;
  border: 2px #fff solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon button:hover {
  background-color: #fff;
  color: #45474B;
}
.wrap .mainPage .howToUse {
  color: #45474B;
  padding: 40px;
  position: relative;
}
.wrap .mainPage .howToUse .usageArrow {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .mainPage .howToUse #usageArrow1 {
  width: 694px;
  top: 70px;
  left: 220px;
}
.wrap .mainPage .howToUse #usageArrow2 {
  width: 215px;
  top: 400px;
  left: 350px;
}
.wrap .mainPage .howToUse #usageArrow3 {
  width: 311px;
  top: 410px;
  left: 940px;
}
.wrap .mainPage .howToUse .title {
  font-size: 48px;
  font-weight: 700;
}
.wrap .mainPage .howToUse .subtitle {
  font-size: 22px;
  font-weight: 300;
  width: 832px;
}
.wrap .mainPage .howToUse .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.wrap .mainPage .howToUse .cards .card {
  width: 304px;
  height: 335px;
  border: #45474B 1px solid;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .userIcon {
  font-size: 100px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .penIcon {
  position: absolute;
  font-size: 42px;
  top: 60px;
  left: 20px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .checkIcon {
  position: absolute;
  font-size: 42px;
  top: 0px;
  left: 160px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .asteriskIcon {
  position: absolute;
  font-size: 42px;
  top: 120px;
  left: 195px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .magnifyingGlassIcon {
  font-size: 100px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .planeIcon {
  position: absolute;
  font-size: 32px;
  top: 0px;
  left: 130px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .locationDotIcon {
  position: absolute;
  font-size: 42px;
  top: 120px;
  left: 200px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .earthIcon {
  position: absolute;
  font-size: 42px;
  top: 110px;
  left: 20px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .shareIcon {
  font-size: 100px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .arrowIcon {
  position: absolute;
  font-size: 32px;
  top: 0px;
  left: 105px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .mapIcon {
  position: absolute;
  font-size: 42px;
  top: 110px;
  left: 200px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .handshakeIcon {
  position: absolute;
  font-size: 42px;
  top: 115px;
  left: 30px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}
.wrap .mainPage .howToUse .cards .card .cardSubtitle {
  font-size: 20px;
  font-weight: 300;
}
.wrap .blogPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  padding: 40px;
}
.wrap .blogPage .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  align-items: flex-end;
  height: 5vh;
}
.wrap .blogPage .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .blogPage .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .blogPage .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .blogPage .header .nav .active {
  font-weight: 500;
}
.wrap .blogPage .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .helpPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  padding: 40px 40px 0 40px;
  flex-direction: column;
  overflow: hidden;
}
.wrap .helpPage .helpArrow {
  position: absolute;
  bottom: 0px;
  left: 160px;
  width: 862px;
  z-index: 1;
}
.wrap .helpPage .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  align-items: flex-end;
  height: 5vh;
}
.wrap .helpPage .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .helpPage .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .helpPage .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .helpPage .header .nav .active {
  font-weight: 500;
}
.wrap .helpPage .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .helpPage .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  margin-top: 75px;
  position: relative;
}
.wrap .helpPage .content .info {
  width: 50%;
  position: relative;
  z-index: 9999;
}
.wrap .helpPage .content .info h2 {
  font-size: 64px;
  font-weight: 700;
}
.wrap .helpPage .content .info p {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0 30px 0;
}
.wrap .helpPage .content .info h6 {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-top: 12px;
}
.wrap .helpPage .content .info .icons {
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  margin-top: 30px;
}
.wrap .helpPage .content .info .icons a {
  color: #45474B;
  text-decoration: none;
}
.wrap .helpPage .content .info .icons i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.wrap .helpPage .content .compassCon {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 320px;
}
.wrap .helpPage .content .compassCon .helpCompass {
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=style.css.map */