*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 100vh;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button{
        font-family: Urbanist;
    }
    .screen {
        position: relative;
        width: 100%;
        height: 100vh;
    }
    i, button{
        cursor: pointer;
    }
    .mainPage{
        width: 100%;
        .greeting{
            .background-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .videoCovering{
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #00000086;
            }
            .greeting_elements{
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                padding: 40px;
                color: #fff;
                .header{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: 5vh;
                    .logo{
                        width: 195px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 32px;
                        font-weight: 600;
                    }
                    .nav{
                        width: 317px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 24px;
                        font-weight: 300;
                        .navEl{
                            cursor: pointer;
                            font-family: Urbanist;
                        }
                        .active{
                            font-weight: 500;
                        }
                    }
                    .iconsCon{
                        width: 112px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 32px;
                    }

                }
                .textAndBtnsCon{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    height: 88vh;
                    .textCon{
                        h1{
                            font-size: 64px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 24px;
                            font-weight: 300;
                            margin-top: 10px;
                            width: 832px;
                        }
                    }
                    .btnsCon{
                        width: 565px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        button{
                            width: 243px;
                            height: 89px;
                            border-radius: 15px;
                            border: 2px #fff solid;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 32px;
                            font-weight: 300;
                            background-color: #ffffff00;
                            color: #fff;
                            transition: 0.5s ease-in-out;
                        }
                        button:hover{
                            background-color: #fff;
                            color: #45474B;
                        }
                    }
                }

            }
        }
    }
    .blogPage{
        width: 100%;
        min-height: 100vh;
        display: none;
        padding: 40px;
        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #45474B;
            align-items: flex-end;
            height: 5vh;
            .logo{
                width: 195px;
                display: flex;
                justify-content: space-between;
                font-size: 32px;
                font-weight: 600;
            }
            .nav{
                width: 317px;
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                font-weight: 300;
                .navEl{
                    cursor: pointer;
                    font-family: Urbanist;
                }
                .active{
                    font-weight: 500;
                }
            }
            .iconsCon{
                width: 112px;
                display: flex;
                justify-content: space-between;
                font-size: 32px;
            }

        }
    }
    .helpPage{
        width: 100%;
        min-height: 100vh;
        display: none;
        padding: 40px 40px 0 40px;
        flex-direction: column;
        overflow: hidden;
        .helpArrow{
            position: absolute;
            bottom: 0px;
            left: 160px;
            width: 862px;
            z-index: 1;
        }
        .header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #45474B;
            align-items: flex-end;
            height: 5vh;
            .logo{
                width: 195px;
                display: flex;
                justify-content: space-between;
                font-size: 32px;
                font-weight: 600;
            }
            .nav{
                width: 317px;
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                font-weight: 300;
                .navEl{
                    cursor: pointer;
                    font-family: Urbanist;
                }
                .active{
                    font-weight: 500;
                }
            }
            .iconsCon{
                width: 112px;
                display: flex;
                justify-content: space-between;
                font-size: 32px;
            }

        }
        .content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #45474B;
            margin-top: 75px;
            position: relative;

            .info{
                width: 50%;
                position: relative;
                z-index: 9999;
                h2{
                    font-size: 64px;
                    font-weight: 700;
                }
                p{
                    font-size: 24px;
                    font-weight: 300;
                    margin: 10px 0 30px 0;
                }
                h6{
                    font-size: 24px;
                    font-weight: 500;
                    font-style: italic;
                    margin-top: 12px;
                }
                .icons{
                    width: 270px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 40px;
                    margin-top: 30px;
                    a{
                        color: #45474B;
                        text-decoration: none;
                    }
                    i{
                        cursor: pointer;
                    }
                }
            }
            .compassCon{
                width: 50%;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 320px;
                .helpCompass{
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}



