@media screen and (max-width: 1440px) {
    .wrap{
        .mainPage{
            .greenting{
                .background-video{
                    width: 100% !important;
                }
            }
            .howToUse{
                #usageArrow2{
                    left: 340px;
                }
                #usageArrow3{
                    left: 900px;
                }
            }
            .camera{
                .cameraCon{
                    #cameraPhoto1{
                        left: 270px;
                    }
                    #cameraPhoto2{
                        left: 260px;
                    }
                    #cameraPhoto3{
                        left: 790px;
                    }
                }
            }
        }
        .blogPage{
            .postsContainer{
                .post{
                    width: 430px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .wrap{
        .mainPage{
            .greenting{
                .background-video{
                    width: 100% !important;
                }
            }
            .howToUse{
                #usageArrow2{
                    display: none;
                }
                #usageArrow3{
                    display: none;
                }
                .cards{
                    .card{
                        width: 290px;
                    }
                }
            }
            .camera{
                .cameraCon{
                    #cameraPhoto1{
                        left: 70px;
                    }
                    #cameraPhoto2{
                        left: 60px;
                    }
                    #cameraPhoto3{
                        left: 590px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .wrap{
        .mainPage{
            .greeting{
                .background-video{
                    width: 100% !important;
                }
                .greeting_elements{
                    padding: 30px;
                    .header{
                        .logo{
                            width: 157px;
                            font-size: 26px;
                        }
                        .nav{
                            font-size: 18px;
                            width: 250px;
                        }
                        .iconsCon{
                            width: 90px;
                            font-size: 28px;
                        }
                    }
                    .textAndBtnsCon{
                        .textCon{
                            h1{
                                font-size: 48px;
                            }
                            #greeting_p{
                                width: 100%;
                                font-size: 18px !important;
                            }
                        }
                        .btnsCon{
                            width: 460px;
                            button{
                                width: 200px;
                                height: 80px;
                                font-size: 24px;
                            }
                        }
                    }

                }

            }
            .howToUse{
                #usageArrow1{
                    width: 400px;
                    top: 130px;
                    left: 60px;
                }
                #usageArrow2{
                    display: none;
                }
                #usageArrow3{
                    display: none;
                }
                .cards{
                    margin-top: 100px;
                    .card{
                        width: 200px;
                        height: 250px;
                        .cardTitle{
                            font-size: 24px;
                        }
                        .cardSubtitle{
                            font-size: 14px;
                            width: 100%;
                        }
                        .cardIconsCon{
                            .checkIcon{
                                display: none;
                            }
                            .penIcon{
                                display: none;
                            }
                            .asteriskIcon{
                                display: none;
                            }
                            .planeIcon{
                                display: none;
                            }
                            .locationDotIcon{
                                display: none;
                            }
                            .earthIcon{
                                display: none;
                            }
                            .arrowIcon{
                                display: none;
                            }
                            .handshakeIcon{
                                display: none;
                            }
                            .mapIcon{
                                display: none;
                            }
                            .userIcon{
                                font-size: 80px;
                            }
                            .magnifyingGlassIcon{
                                font-size: 80px;
                            }
                            .shareIcon{
                                font-size: 80px;
                            }
                        }
                    }
                }
                .subtitle{
                    font-size: 18px;
                    width: 100%;
                }
                .title{
                    font-size: 36px;
                }
            }
            .camera{
                .subtitle{
                    font-size: 18px;
                    width: 100%;
                }
                .title{
                    font-size: 36px;
                }
                .cameraCon{
                    .camera{
                        width: 400px;
                    }
                    .cameraPhoto{
                        width: 200px;
                    }
                    #cameraPhoto1{
                        left: 70px;
                    }
                    #cameraPhoto2{
                        left: 60px;
                    }
                    #cameraPhoto3{
                        left: 420px;
                    }
                }
            }
            .futer{
                .futerContent{
                    padding: 150px 30px 30px 30px;
                    .basic{
                        .newslatter{
                            .inputCon{
                                width: 330px;
                                input{
                                    font-size: 18px;
                                    &placeholder{
                                        font-size: 18px;
                                    }
                                }
                                .inputBtn{
                                    font-size: 16px;
                                    width: 120px;
                                }
                            }
                        }
                        .navigation{
                            width: 220px;
                            .nav_column{
                                .nav_title{
                                    font-size: 24px;
                                }
                                .nav_option{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .mediaCon{
                        .media{
                            width: 440px;
                            i{
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    ::-webkit-scrollbar {
        width: 2px !important;
    }
    .wrap{
        overflow-x: hidden;
        .mainPage{
    .burgerPopupContainer{
                display: none;
                width: 100%;
                height: 100vh;
                background-color: #0000005e;
                justify-content: center;
                align-items: center;
                padding: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9999;
                .burgerPopup{
                    width: 100%;
                    height: 210px;
                    display: flex;
                    background-color: #fff;
                    padding: 20px;
                    position: relative;
                    border-radius: 20px;
                    flex-direction: column;
                    .burgerPopupXmark{
                        font-size: 24px;
                        top: 20px;
                        right: 20px;
                        position: absolute;
                    }
                    .navAndSettings{
                        display: flex;
                        .nav{
                            width: 70px;
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .navEl{
                                font-size: 24px;
                                font-weight: 400;
                            }
                            .active{
                                font-weight: 600;
                            }
                        }
                        .settings{
                            width: 200px;
                            display: flex;
                            margin-left: 20px;
                            flex-direction: column;
                            .settingsOption {
                                display: flex;
                                margin-bottom: 12px;
                                width: 100%;
                          
                                span {
                                  font-size: 20px;
                                  font-weight: 300;
                                  margin-right: 10px;
                                }
                          
                                select {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  border: none;
                                  outline: none;
                                  cursor: pointer;
                                  color: #45474B;
                                  appearance: none; 
                                  -webkit-appearance: none;
                                  -moz-appearance: none; 
                                  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+') no-repeat right 10px center; 
                                  padding-right: 10px; 
                                }
                          
                                .themeChanger {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  cursor: pointer;
                                  transition: 0.5s ease-in-out;
                                }
                              }
                        }
                    }
                    .reportOption{
                        display: flex;
                        margin-top: 25px;
                        width: 100%;
                        align-items: center;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                        span{
                            margin-left: 7px;
                        }
            
                    }
                    .reportOption:hover{
                        color: #1A4D2E;
                        font-weight: 500;
                    }


        }
    }
    .greeting{
        .greeting_elements{
            padding: 20px;
            height: 90vh;

            .header{
                .logo{
                    width: 157px;
                    font-size: 26px;
                }
                .nav{
                    display: none;
                }
                .iconsCon{
                    width: 90px;
                    font-size: 28px;
                    display: none;
                }
                .burger{
                    width: 42px;
                    height: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .burger_row{
                        width: 100%;
                        height: 4px;
                        background-color: #fff;
                        border-radius: 6px;
                    }
                }
            }
            .textAndBtnsCon{
                height: 76vh;
                .textCon{
                    h1{
                        font-size: 36px;
                    }
                    #greeting_p{
                        width: 100%;
                        font-size: 14px !important;
                    }
                }
                .btnsCon{
                    width: 370px;
                    button{
                        width: 160px;
                        height: 60px;
                        font-size: 22px;
                    }
                }
            }

        }

    }
    .howToUse{
        padding: 20px;
        height: 65vh;
        #usageArrow1{
            width: 380px;
            top: 80px;
            left: 30px;
        }
        #usageArrow2{
            display: none;
        }
        #usageArrow3{
            display: none;
        }
        .cards{
            margin-top: 70px;
            .card{
                width: 110px;
                height: 140px;
                padding: 10px;
                .cardTitle{
                    font-size: 14px;
                }
                .cardSubtitle{
                    font-size: 8px;
                    width: 100%;
                }
                .cardIconsCon{
                    .checkIcon{
                        display: none;
                    }
                    .penIcon{
                        display: none;
                    }
                    .asteriskIcon{
                        display: none;
                    }
                    .planeIcon{
                        display: none;
                    }
                    .locationDotIcon{
                        display: none;
                    }
                    .earthIcon{
                        display: none;
                    }
                    .arrowIcon{
                        display: none;
                    }
                    .handshakeIcon{
                        display: none;
                    }
                    .mapIcon{
                        display: none;
                    }
                    .userIcon{
                        font-size: 42px;
                    }
                    .magnifyingGlassIcon{
                        font-size: 42px;
                    }
                    .shareIcon{
                        font-size: 42px;
                    }
                }
            }
        }
        .subtitle{
            font-size: 14px;
            width: 100%;
        }
        .title{
            font-size: 24px;
        }
    }
    .cameraScreen{
        height: 80vh;
        .subtitle{
            font-size: 14px;
            width: 100%;
        }
        .title{
            font-size: 24px;
        }
        .cameraCon{
            height: auto;
            .camera{
                width: 300px !important;
            }
            .cameraPhoto{
                width: 120px;
            }
            #cameraPhoto1{
                left: 20px;
            }
            #cameraPhoto2{
                left: 10px;
            }
            #cameraPhoto3{
                left: 210px;
            }
        }
    }
    .futer{
        min-height: 555px;
        .futerContent{
            padding: 150px 15px 15px 15px;
            .basic{
                flex-direction: column;
                .newslatter{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 12px;
                    }
                    .inputCon{
                        width: 385px;
                        height: 65px;
                        input{
                            font-size: 16px;
                            &placeholder{
                                font-size: 16px;
                            }
                        }
                        .inputBtn{
                            font-size: 16px;
                            width: 120px;
                            height: 47px;
                        }
                    }
                }
                .navigation{
                    width: 220px;
                    .nav_column{
                        align-items: flex-start;
                        .nav_title{
                            font-size: 24px;
                        }
                        .nav_option{
                            font-size: 14px;
                        }
                    }
                }
            }
            .mediaCon{
                .media{
                    width: 90%;
                    i{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    }
}}
@media screen and (max-width: 376px) {
    ::-webkit-scrollbar {
        width: 2px !important;
    }
    .wrap{
        overflow-x: hidden;
        .mainPage{
    .burgerPopupContainer{
                display: none;
                width: 100%;
                height: 100vh;
                background-color: #0000005e;
                justify-content: center;
                align-items: center;
                padding: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9999;
                .burgerPopup{
                    width: 100%;
                    height: 210px;
                    display: flex;
                    background-color: #fff;
                    padding: 20px;
                    position: relative;
                    border-radius: 20px;
                    flex-direction: column;
                    .burgerPopupXmark{
                        font-size: 24px;
                        top: 20px;
                        right: 20px;
                        position: absolute;
                    }
                    .navAndSettings{
                        display: flex;
                        .nav{
                            width: 70px;
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .navEl{
                                font-size: 24px;
                                font-weight: 400;
                            }
                            .active{
                                font-weight: 600;
                            }
                        }
                        .settings{
                            width: 200px;
                            display: flex;
                            margin-left: 20px;
                            flex-direction: column;
                            .settingsOption {
                                display: flex;
                                margin-bottom: 12px;
                                width: 100%;
                          
                                span {
                                  font-size: 20px;
                                  font-weight: 300;
                                  margin-right: 10px;
                                }
                          
                                select {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  border: none;
                                  outline: none;
                                  cursor: pointer;
                                  color: #45474B;
                                  appearance: none; 
                                  -webkit-appearance: none;
                                  -moz-appearance: none; 
                                  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+') no-repeat right 10px center; 
                                  padding-right: 10px; 
                                }
                          
                                .themeChanger {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  cursor: pointer;
                                  transition: 0.5s ease-in-out;
                                }
                              }
                        }
                    }
                    .reportOption{
                        display: flex;
                        margin-top: 25px;
                        width: 100%;
                        align-items: center;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                        span{
                            margin-left: 7px;
                        }
            
                    }
                    .reportOption:hover{
                        color: #1A4D2E;
                        font-weight: 500;
                    }


        }
    }
    .greeting{
        .greeting_elements{
            padding: 20px;
            height: 90vh;

            .header{
                .logo{
                    width: 157px;
                    font-size: 26px;
                }
                .nav{
                    display: none;
                }
                .iconsCon{
                    width: 90px;
                    font-size: 28px;
                    display: none;
                }
                .burger{
                    width: 42px;
                    height: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .burger_row{
                        width: 100%;
                        height: 4px;
                        background-color: #fff;
                        border-radius: 6px;
                    }
                }
            }
            .textAndBtnsCon{
                height: 76vh;
                .textCon{
                    h1{
                        font-size: 36px;
                    }
                    #greeting_p{
                        width: 100%;
                        font-size: 14px !important;
                    }
                }
                .btnsCon{
                    width: 290px;
                    button{
                        width: 130px;
                        height: 60px;
                        font-size: 20px;
                    }
                }
            }

        }

    }
    .howToUse{
        padding: 20px;
        height: 55vh;
        #usageArrow1{
            width: 280px;
            top: 90px;
            left: 30px;
        }
        #usageArrow2{
            display: none;
        }
        #usageArrow3{
            display: none;
        }
        .cards{
            margin-top: 70px;
            .card{
                width: 103px;
                height: 140px;
                padding: 7px;
                .cardTitle{
                    font-size: 14px;
                }
                .cardSubtitle{
                    font-size: 8px;
                    width: 100%;
                }
                .cardIconsCon{
                    .checkIcon{
                        display: none;
                    }
                    .penIcon{
                        display: none;
                    }
                    .asteriskIcon{
                        display: none;
                    }
                    .planeIcon{
                        display: none;
                    }
                    .locationDotIcon{
                        display: none;
                    }
                    .earthIcon{
                        display: none;
                    }
                    .arrowIcon{
                        display: none;
                    }
                    .handshakeIcon{
                        display: none;
                    }
                    .mapIcon{
                        display: none;
                    }
                    .userIcon{
                        font-size: 42px;
                    }
                    .magnifyingGlassIcon{
                        font-size: 42px;
                    }
                    .shareIcon{
                        font-size: 42px;
                    }
                }
            }
        }
        .subtitle{
            font-size: 12px;
            width: 100%;
        }
        .title{
            font-size: 18px;
        }
    }
    .cameraScreen{
        height: 64vh;
        .subtitle{
            font-size: 12px;
            width: 100%;
        }
        .title{
            font-size: 18px;
            text-align: center;
        }
        .cameraCon{
            height: auto;
            margin-top: 30px;
            .camera{
                width: 280px !important;
            }
            .cameraPhoto{
                width: 100px;
            }
            #cameraPhoto1{
                left: 20px;
            }
            #cameraPhoto2{
                left: 10px;
            }
            #cameraPhoto3{
                left: 170px;
            }
        }
    }
    .futer{
        min-height: 530px;
        .futerContent{
            padding: 150px 15px 15px 15px;
            .basic{
                flex-direction: column;
                .newslatter{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 12px;
                    }
                    .inputCon{
                        width: 340px;
                        height: 65px;
                        input{
                            font-size: 16px;
                            &placeholder{
                                font-size: 16px;
                            }
                        }
                        .inputBtn{
                            font-size: 16px;
                            width: 120px;
                            height: 47px;
                        }
                    }
                }
                .navigation{
                    width: 220px;
                    .nav_column{
                        align-items: flex-start;
                        .nav_title{
                            font-size: 18px;
                        }
                        .nav_option{
                            font-size: 12px;
                        }
                    }
                }
            }
            .mediaCon{
                .media{
                    width: 90%;
                    i{
                        font-size: 24px;
                    }
                }
                p{
                    font-size: 8px;
                }
            }
        }
    }
    }
}}
@media screen and (max-width: 321px) {
    ::-webkit-scrollbar {
        width: 2px !important;
    }
    .wrap{
        overflow-x: hidden;
        .mainPage{
    .burgerPopupContainer{
                display: none;
                width: 100%;
                height: 100vh;
                background-color: #0000005e;
                justify-content: center;
                align-items: center;
                padding: 20px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9999;
                .burgerPopup{
                    width: 100%;
                    height: 210px;
                    display: flex;
                    background-color: #fff;
                    padding: 20px;
                    position: relative;
                    border-radius: 20px;
                    flex-direction: column;
                    .burgerPopupXmark{
                        font-size: 24px;
                        top: 20px;
                        right: 20px;
                        position: absolute;
                    }
                    .navAndSettings{
                        display: flex;
                        .nav{
                            width: 70px;
                            height: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .navEl{
                                font-size: 24px;
                                font-weight: 400;
                            }
                            .active{
                                font-weight: 600;
                            }
                        }
                        .settings{
                            width: 200px;
                            display: flex;
                            margin-left: 20px;
                            flex-direction: column;
                            .settingsOption {
                                display: flex;
                                margin-bottom: 12px;
                                width: 100%;
                          
                                span {
                                  font-size: 20px;
                                  font-weight: 300;
                                  margin-right: 10px;
                                }
                          
                                select {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  border: none;
                                  outline: none;
                                  cursor: pointer;
                                  color: #45474B;
                                  appearance: none; 
                                  -webkit-appearance: none;
                                  -moz-appearance: none; 
                                  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+') no-repeat right 10px center; 
                                  padding-right: 10px; 
                                }
                          
                                .themeChanger {
                                  font-family: Urbanist;
                                  font-size: 20px;
                                  font-weight: 700;
                                  cursor: pointer;
                                  transition: 0.5s ease-in-out;
                                }
                              }
                        }
                    }
                    .reportOption{
                        display: flex;
                        margin-top: 25px;
                        width: 100%;
                        align-items: center;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                        span{
                            margin-left: 7px;
                        }
            
                    }
                    .reportOption:hover{
                        color: #1A4D2E;
                        font-weight: 500;
                    }


        }
    }
    .greeting{
        .greeting_elements{
            padding: 20px;
            height: 90vh;

            .header{
                .logo{
                    width: 125px;
                    font-size: 20px;
                }
                .nav{
                    display: none;
                }
                .iconsCon{
                    width: 90px;
                    font-size: 28px;
                    display: none;
                }
                .burger{
                    width: 38px;
                    height: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .burger_row{
                        width: 100%;
                        height: 3px;
                        background-color: #fff;
                        border-radius: 6px;
                    }
                }
            }
            .textAndBtnsCon{
                height: 76vh;
                .textCon{
                    h1{
                        font-size: 24px;
                    }
                    #greeting_p{
                        width: 100%;
                        font-size: 12px !important;
                    }
                }
                .btnsCon{
                    width: 240px;
                    button{
                        width: 110px;
                        height: 55px;
                        font-size: 16px;
                    }
                }
            }

        }

    }
    .howToUse{
        padding: 20px;
        height: 50vh;
        #usageArrow1{
            width: 260px;
            top: 80px;
            left: 30px;
        }
        #usageArrow2{
            display: none;
        }
        #usageArrow3{
            display: none;
        }
        .cards{
            margin-top: 70px;
            .card{
                width: 85px;
                height: 120px;
                padding: 7px;
                .cardTitle{
                    font-size: 12px;
                }
                .cardSubtitle{
                    font-size: 8px;
                    width: 100%;
                }
                .cardIconsCon{
                    .checkIcon{
                        display: none;
                    }
                    .penIcon{
                        display: none;
                    }
                    .asteriskIcon{
                        display: none;
                    }
                    .planeIcon{
                        display: none;
                    }
                    .locationDotIcon{
                        display: none;
                    }
                    .earthIcon{
                        display: none;
                    }
                    .arrowIcon{
                        display: none;
                    }
                    .handshakeIcon{
                        display: none;
                    }
                    .mapIcon{
                        display: none;
                    }
                    .userIcon{
                        font-size: 32px;
                    }
                    .magnifyingGlassIcon{
                        font-size: 32px;
                    }
                    .shareIcon{
                        font-size: 32px;
                    }
                }
            }
        }
        .subtitle{
            font-size: 10px;
            width: 100%;
        }
        .title{
            font-size: 18px;
        }
    }
    .cameraScreen{
        height: 64vh;
        .subtitle{
            font-size: 10px;
            width: 100%;
        }
        .title{
            font-size: 18px;
            text-align: center;
        }
        .cameraCon{
            height: auto;
            margin-top: 30px;
            .camera{
                width: 240px !important;
            }
            .cameraPhoto{
                width: 80px;
            }
            #cameraPhoto1{
                left: 20px;
            }
            #cameraPhoto2{
                left: 10px;
            }
            #cameraPhoto3{
                left: 140px;
            }
        }
    }
    .futer{
        min-height: 530px;
        .futerContent{
            padding: 150px 15px 15px 15px;
            .basic{
                flex-direction: column;
                .newslatter{
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 12px;
                    }
                    .inputCon{
                        width: 290px;
                        height: 65px;
                        input{
                            font-size: 10px;
                            &placeholder{
                                font-size: 10px;
                            }
                        }
                        .inputBtn{
                            font-size: 16px;
                            width: 120px;
                            height: 47px;
                        }
                    }
                }
                .navigation{
                    width: 220px;
                    .nav_column{
                        align-items: flex-start;
                        .nav_title{
                            font-size: 18px;
                        }
                        .nav_option{
                            font-size: 12px;
                        }
                    }
                }
            }
            .mediaCon{
                .media{
                    width: 90%;
                    i{
                        font-size: 24px;
                    }
                }
                p{
                    font-size: 8px;
                }
            }
        }
    }
    }
}}