* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #45474B;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}

.no-scroll {
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100vh;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button, .wrap span, .wrap div {
  font-family: Urbanist;
}
.wrap .screen {
  position: relative;
  width: 100%;
  height: 100vh;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage {
  width: 100%;
  flex-direction: column;
}
.wrap .mainPage .greeting .greetingBottom {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: 333;
}
.wrap .mainPage .greeting .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .mainPage .greeting .videoCovering {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5254901961);
}
.wrap .mainPage .greeting .greeting_elements {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  color: #fff;
}
.wrap .mainPage .greeting .greeting_elements .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;
}
.wrap .mainPage .greeting .greeting_elements .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .mainPage .greeting .greeting_elements .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .mainPage .greeting .greeting_elements .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .mainPage .greeting .greeting_elements .header .nav .active {
  font-weight: 500;
}
.wrap .mainPage .greeting .greeting_elements .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 88vh;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .textCon h1 {
  font-size: 64px;
  font-weight: 700;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .textCon p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  width: 832px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon {
  width: 565px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon button {
  width: 243px;
  height: 89px;
  border-radius: 15px;
  border: 2px #fff solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage .greeting .greeting_elements .textAndBtnsCon .btnsCon button:hover {
  background-color: #fff;
  color: #45474B;
}
.wrap .mainPage .howToUse {
  color: #45474B;
  padding: 40px;
}
.wrap .mainPage .howToUse .usageArrow {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .mainPage .howToUse #usageArrow1 {
  width: 694px;
  top: 70px;
  left: 220px;
}
.wrap .mainPage .howToUse #usageArrow2 {
  width: 215px;
  top: 400px;
  left: 380px;
}
.wrap .mainPage .howToUse #usageArrow3 {
  width: 311px;
  top: 410px;
  left: 940px;
}
.wrap .mainPage .howToUse .title {
  font-size: 48px;
  font-weight: 700;
}
.wrap .mainPage .howToUse .subtitle {
  font-size: 22px;
  font-weight: 300;
  width: 832px;
}
.wrap .mainPage .howToUse .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.wrap .mainPage .howToUse .cards .card {
  width: 304px;
  height: 335px;
  border: #45474B 1px solid;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .userIcon {
  font-size: 100px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .penIcon {
  position: absolute;
  font-size: 42px;
  top: 60px;
  left: 20px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .checkIcon {
  position: absolute;
  font-size: 42px;
  top: 0px;
  left: 160px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .asteriskIcon {
  position: absolute;
  font-size: 42px;
  top: 120px;
  left: 195px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .magnifyingGlassIcon {
  font-size: 100px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .planeIcon {
  position: absolute;
  font-size: 32px;
  top: 0px;
  left: 130px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .locationDotIcon {
  position: absolute;
  font-size: 42px;
  top: 120px;
  left: 200px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .earthIcon {
  position: absolute;
  font-size: 42px;
  top: 110px;
  left: 20px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .shareIcon {
  font-size: 100px;
  color: #4F6F52;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .arrowIcon {
  position: absolute;
  font-size: 32px;
  top: 0px;
  left: 105px;
  color: #E8DFCA;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .mapIcon {
  position: absolute;
  font-size: 42px;
  top: 110px;
  left: 200px;
  color: #45474B;
}
.wrap .mainPage .howToUse .cards .card .cardIconsCon .handshakeIcon {
  position: absolute;
  font-size: 42px;
  top: 115px;
  left: 30px;
  color: #1A4D2E;
}
.wrap .mainPage .howToUse .cards .card .cardTitle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}
.wrap .mainPage .howToUse .cards .card .cardSubtitle {
  font-size: 20px;
  font-weight: 300;
}
.wrap .mainPage .camera {
  color: #45474B;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .mainPage .camera .title {
  font-size: 48px;
  font-weight: 700;
}
.wrap .mainPage .camera .subtitle {
  font-size: 22px;
  font-weight: 300;
  width: 831px;
  text-align: center;
  margin-top: 10px;
}
.wrap .mainPage .camera .cameraCon {
  width: 100%;
  height: 525px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.wrap .mainPage .camera .cameraCon .camera {
  width: 519px;
  z-index: 3;
}
.wrap .mainPage .camera .cameraCon .cameraPhoto {
  width: 294px;
  position: absolute;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.wrap .mainPage .camera .cameraCon #cameraPhoto1 {
  transform: rotate(-40deg);
  left: 300px;
  top: 20px;
  z-index: 2;
}
.wrap .mainPage .camera .cameraCon #cameraPhoto2 {
  transform: rotate(-67deg);
  left: 290px;
  top: 70px;
  z-index: 1;
}
.wrap .mainPage .camera .cameraCon #cameraPhoto3 {
  transform: rotate(40deg);
  left: 830px;
  top: 40px;
  z-index: 1;
}
.wrap .mainPage .futer {
  width: 100%;
  height: 426px;
  position: relative;
}
.wrap .mainPage .futer .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
}
.wrap .mainPage .futer .videoCovering {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5254901961);
  z-index: 5;
}
.wrap .mainPage .futer .futerTop {
  width: 100%;
  height: 103px;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  z-index: 6;
}
.wrap .mainPage .futer .futerContent {
  width: 100%;
  height: 200px;
  color: #fff;
  z-index: 9999;
  position: relative;
  padding: 150px 40px 40px 40px;
}
.wrap .mainPage .futer .futerContent .basic {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .futer .futerContent .basic .newslatter {
  width: 434px;
  height: 146px;
  z-index: 9999;
}
.wrap .mainPage .futer .futerContent .basic .newslatter h3 {
  font-size: 32px;
  font-weight: 500;
}
.wrap .mainPage .futer .futerContent .basic .newslatter p {
  width: 14px;
  font-weight: 300;
  width: 100%;
  margin: 5px 0 15px 0;
}
.wrap .mainPage .futer .futerContent .basic .newslatter .inputCon {
  width: 434px;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
}
.wrap .mainPage .futer .futerContent .basic .newslatter .inputCon input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  color: #45474B;
  font-size: 20px;
  font-weight: 500;
  border-radius: 140px;
  outline: none;
}
.wrap .mainPage .futer .futerContent .basic .newslatter .inputCon inputplaceholder {
  color: #45474B;
  font-size: 20px;
  font-weight: 500;
}
.wrap .mainPage .futer .futerContent .basic .newslatter .inputCon .inputBtn {
  position: absolute;
  width: 150px;
  height: 54px;
  background-color: #2C2E32;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  right: 10px;
  border-radius: 50px;
  font-family: Urbanist;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage .futer .futerContent .basic .newslatter .inputCon .inputBtn:hover {
  background-color: #1A4D2E;
}
.wrap .mainPage .futer .futerContent .basic .navigation {
  width: 278px;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .futer .futerContent .basic .navigation .nav_column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrap .mainPage .futer .futerContent .basic .navigation .nav_column .nav_title {
  font-size: 32px;
  font-weight: 500;
  font-family: Josefin Sans;
  margin-bottom: 10px;
}
.wrap .mainPage .futer .futerContent .basic .navigation .nav_column .nav_option {
  font-size: 14px;
  font-weight: 300;
  font-family: Urbanist;
  margin-bottom: 7px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage .futer .futerContent .basic .navigation .nav_column .nav_option:hover {
  color: #4F6F52;
  font-weight: 500;
}
.wrap .mainPage .futer .futerContent .mediaCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.wrap .mainPage .futer .futerContent .mediaCon .media {
  width: 505px;
  display: flex;
  justify-content: space-between;
}
.wrap .mainPage .futer .futerContent .mediaCon .media i {
  font-size: 38px;
  transition: 0.5s ease-in-out;
}
.wrap .mainPage .futer .futerContent .mediaCon .media i:hover {
  color: #4F6F52;
}
.wrap .mainPage .futer .futerContent .mediaCon p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}
.wrap .mainPage .futer .futerContent .mediaCon p span {
  font-weight: 600;
  color: #E8DFCA;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.wrap .mainPage .futer .futerContent .mediaCon p span:hover {
  color: #4F6F52;
}
.wrap .blogPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  padding: 40px;
  flex-direction: column;
}
.wrap .blogPage .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  align-items: flex-end;
  height: 5vh;
}
.wrap .blogPage .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .blogPage .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .blogPage .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .blogPage .header .nav .active {
  font-weight: 500;
}
.wrap .blogPage .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .blogPage .postsContainer {
  width: 100%;
  min-height: 521px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.wrap .blogPage .postsContainer .post {
  width: 450px;
  height: 521px;
  border-radius: 15px;
  border: #1A4D2E 2px solid;
  padding: 20px;
  color: #45474B;
  margin-bottom: 40px;
}
.wrap .blogPage .postsContainer .post .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.wrap .blogPage .postsContainer .post .top .author {
  display: flex;
  height: 100%;
  align-items: center;
}
.wrap .blogPage .postsContainer .post .top .author .author_pic {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wrap .blogPage .postsContainer .post .top .author .author_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .blogPage .postsContainer .post .top .author .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #45474B;
  margin: 0 12px;
}
.wrap .blogPage .postsContainer .post .top .author .follow {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.wrap .blogPage .postsContainer .post .top .time {
  font-size: 16px;
  font-weight: 300;
}
.wrap .blogPage .postsContainer .post .postImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}
.wrap .blogPage .postsContainer .post .postTitle {
  font-size: 28px;
  font-weight: 700;
}
.wrap .blogPage .postsContainer .post .postText {
  font-size: 16px;
  font-weight: 400;
  margin: 7px 0;
}
.wrap .blogPage .postsContainer .post .postText .postFullText {
  display: none;
}
.wrap .blogPage .postsContainer .post .readMore {
  text-decoration: none;
  color: #2C2E32;
  font-weight: 600;
  font-family: Urbanist;
}
.wrap .blogPage .postsContainer .post .postHashtags {
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .blogPage .postsContainer .post .actions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #45474B;
  margin-top: 20px;
}
.wrap .blogPage .postsContainer .post .actions .likesAmount {
  font-size: 22px;
  font-weight: 700;
  margin-right: -13px;
  margin-bottom: -3px;
}
.wrap .blogPage .postsContainer .post i {
  transition: 0.5s ease;
}
.wrap .blogPage .postsContainer .post i:hover {
  color: #4F6F52;
}
.wrap .blogPage .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .blogPage .pagination .page {
  margin: 0 40px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: #1A4D2E;
  background-color: #fff;
  border: #1A4D2E 2px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.wrap .blogPage .pagination .page:hover {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .blogPage .pagination .active {
  background-color: #1A4D2E;
  color: #fff;
  border: none;
}
.wrap .helpPage {
  width: 100%;
  min-height: 100vh;
  display: none;
  padding: 40px 40px 0 40px;
  flex-direction: column;
  overflow: hidden;
}
.wrap .helpPage .helpArrow {
  position: absolute;
  bottom: 0px;
  left: 160px;
  width: 862px;
  z-index: 1;
}
.wrap .helpPage .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  align-items: flex-end;
  height: 5vh;
}
.wrap .helpPage .header .logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
}
.wrap .helpPage .header .nav {
  width: 317px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
}
.wrap .helpPage .header .nav .navEl {
  cursor: pointer;
  font-family: Urbanist;
}
.wrap .helpPage .header .nav .active {
  font-weight: 500;
}
.wrap .helpPage .header .iconsCon {
  width: 112px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}
.wrap .helpPage .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #45474B;
  margin-top: 75px;
  position: relative;
}
.wrap .helpPage .content .info {
  width: 50%;
  position: relative;
  z-index: 9999;
}
.wrap .helpPage .content .info h2 {
  font-size: 64px;
  font-weight: 700;
}
.wrap .helpPage .content .info p {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0 30px 0;
}
.wrap .helpPage .content .info h6 {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  margin-top: 12px;
}
.wrap .helpPage .content .info .icons {
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  margin-top: 30px;
}
.wrap .helpPage .content .info .icons a {
  color: #45474B;
  text-decoration: none;
}
.wrap .helpPage .content .info .icons i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.wrap .helpPage .content .compassCon {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 320px;
}
.wrap .helpPage .content .compassCon .helpCompass {
  transition: 0.5s ease-in-out;
}
.wrap .settingsCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.wrap .settingsCon .settings {
  width: 450px;
  height: 230px;
  padding: 30px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #45474B;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrap .settingsCon .settings #settingsXMark {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #45474B;
  transition: 0.5s ease-in-out;
}
.wrap .settingsCon .settings #settingsXMark:hover {
  color: #1A4D2E;
}
.wrap .settingsCon .settings h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}
.wrap .settingsCon .settings .settingsOption {
  display: flex;
  margin-top: 7px;
  width: 100%;
}
.wrap .settingsCon .settings .settingsOption span {
  font-size: 24px;
  font-weight: 300;
  margin-right: 10px;
}
.wrap .settingsCon .settings .settingsOption select {
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  color: #45474B;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+") no-repeat right 10px center;
  padding-right: 10px;
}
.wrap .settingsCon .settings .settingsOption .themeChanger {
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .settingsCon .settings .reportOption {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.wrap .settingsCon .settings .reportOption span {
  margin-left: 7px;
}
.wrap .settingsCon .settings .reportOption:hover {
  color: #1A4D2E;
  font-weight: 500;
}
.wrap .userProfilePopup {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: none;
  overflow-y: auto;
}
.wrap .userProfilePopup .user {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  position: relative;
}
.wrap .userProfilePopup .user .backToMainArrow {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #1A4D2E;
  cursor: pointer;
  font-size: 32px;
}
.wrap .userProfilePopup .user .userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #45474B;
}
.wrap .userProfilePopup .user .userInfo .userPicture {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f0f0f0;
}
.wrap .userProfilePopup .user .userInfo .FistLastName {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}
.wrap .userProfilePopup .user .userInfo .email {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 7px;
}
.wrap .userProfilePopup .user .userInfo .description {
  width: 463px;
  font-size: 16px;
  font-weight: 400;
}
.wrap .userProfilePopup .user .userInfo .placesVisited {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 9px;
}
.wrap .userProfilePopup .user .userInfo .placesVisited .visitedPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .userProfilePopup .user .userInfo .placesToVisit {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 7px;
}
.wrap .userProfilePopup .user .userInfo .placesToVisit .toVisitPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .userProfilePopup .user .userInfo .followings {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.wrap .userProfilePopup .user .userInfo .followings .following {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.wrap .userProfilePopup .user .userInfo .followings .following .amount {
  font-size: 32px;
  font-weight: 700;
  color: #2C2E32;
}
.wrap .userProfilePopup .user .userInfo .followings .following .following_text {
  color: rgba(69, 71, 75, 0.6392156863);
  font-size: 20px;
  font-weight: 300;
}
.wrap .userProfilePopup .user .posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.wrap .userProfilePopup .user .posts .postsChanging {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #1A4D2E 3px solid;
  height: 62px;
  cursor: pointer;
}
.wrap .userProfilePopup .user .posts .postsChanging .publishedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .userProfilePopup .user .posts .postsChanging .likedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #fff;
  color: #1A4D2E;
}
.wrap .userProfilePopup .user .posts .userPostsContainer {
  width: 100%;
  min-height: 521px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post {
  width: 430px;
  height: 521px;
  border-radius: 15px;
  border: #1A4D2E 2px solid;
  padding: 20px;
  color: #45474B;
  margin-bottom: 40px;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .top .author {
  display: flex;
  height: 100%;
  align-items: center;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .top .author .author_pic {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .top .author .authro_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .top .time {
  font-size: 16px;
  font-weight: 300;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .author_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .postImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .postTitle {
  font-size: 28px;
  font-weight: 700;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .postText {
  font-size: 16px;
  font-weight: 400;
  margin: 7px 0;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .postText .postFullText {
  display: none;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .readMore {
  text-decoration: none;
  color: #2C2E32;
  font-weight: 600;
  font-family: Urbanist;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .postHashtags {
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .actions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #45474B;
  margin-top: 20px;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post .actions .likesAmount {
  font-size: 22px;
  font-weight: 700;
  margin-right: -13px;
  margin-bottom: -3px;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post i {
  transition: 0.5s ease;
}
.wrap .userProfilePopup .user .posts .userPostsContainer .post i:hover {
  color: #4F6F52;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer {
  width: 100%;
  min-height: 521px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post {
  width: 430px;
  height: 521px;
  border-radius: 15px;
  border: #1A4D2E 2px solid;
  padding: 20px;
  color: #45474B;
  margin-bottom: 40px;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .top .author {
  display: flex;
  height: 100%;
  align-items: center;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .top .author .author_pic {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .top .author .authro_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .top .time {
  font-size: 16px;
  font-weight: 300;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .author_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .postImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .postTitle {
  font-size: 28px;
  font-weight: 700;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .postText {
  font-size: 16px;
  font-weight: 400;
  margin: 7px 0;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .postText .postFullText {
  display: none;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .readMore {
  text-decoration: none;
  color: #2C2E32;
  font-weight: 600;
  font-family: Urbanist;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .postHashtags {
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .actions {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #45474B;
  margin-top: 20px;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post .actions .likesAmount {
  font-size: 22px;
  font-weight: 700;
  margin-right: -13px;
  margin-bottom: -3px;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post i {
  transition: 0.5s ease;
}
.wrap .userProfilePopup .user .posts .likedPostsContainer .post i:hover {
  color: #4F6F52;
}
.wrap .userProfilePopup .followingsPopupContainer {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup {
  width: 700px;
  height: 430px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #45474B;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup #followingXmark {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 32px;
  color: #45474B;
  transition: 0.5s ease-in-out;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-bottom: 15px;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers .followersCon {
  overflow-y: auto;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers .followersCon .follower {
  width: 97%;
  height: 80px;
  border: #2C2E32 1px solid;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers .followersCon .follower .followerPic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers .followersCon .follower .followerName {
  font-size: 24px;
  font-weight: 600;
  color: #2C2E32;
  margin-left: 10px;
  font-family: Urbanist;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followers .followersCon .follower .deleteFollower {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #2C2E32;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-bottom: 15px;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage .showFollowingsCon {
  overflow-y: auto;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage .showFollowingsCon .following {
  width: 97%;
  height: 80px;
  border: #2C2E32 1px solid;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage .showFollowingsCon .following .followingPic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage .showFollowingsCon .following .followingName {
  font-size: 24px;
  font-weight: 600;
  color: #2C2E32;
  margin-left: 10px;
  font-family: Urbanist;
}
.wrap .userProfilePopup .followingsPopupContainer .followingsPopup .followingsPopupStage .showFollowingsCon .following .followingsPopup_unfollow {
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #2C2E32;
}

/* Light Theme */
body.light-theme .title,
body.light-theme p,
body.light-theme .cardTitle,
body.light-theme .postTitle,
body.light-theme .postText,
body.light-theme .actions {
  color: #45474B;
}

body.light-theme #greeting_p {
  color: #fff;
}

body.light-theme .card {
  border: #45474B 2px solid;
}

body.light-theme .dot {
  background-color: #45474B;
}

body.light-theme .userIcon,
body.light-theme .earthIcon,
body.light-theme .handshakeIcon {
  color: #1A4D2E;
}

body.light-theme .asteriskIcon,
body.light-theme .locationDotIcon,
body.light-theme .mapIcon {
  color: #45474B;
}

body.light-theme .darkHeader {
  color: #45474B;
}

body.light-theme .post {
  border: #45474B 1px solid;
}

body.light-theme .readMore {
  color: #2C2E32;
}

body.light-theme .postHashtags {
  color: #1A4D2E;
}

body.light-theme .actions {
  color: #45474B;
}

body.light-theme .actions i:hover {
  color: #1A4D2E;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

body.light-theme .pagination .active {
  background-color: #1A4D2E;
}

body.light-theme .info {
  color: #45474B;
}

body.light-theme .helpCompass {
  color: #45474B;
}

body.light-theme .profileIcon {
  color: #45474B;
}

body.light-theme .profileIcon:hover {
  color: #1A4D2E;
}

body.light-theme .settingsCon {
  background-color: rgba(0, 0, 0, 0.2549019608);
}

body.light-theme .settings {
  background-color: #fff;
  color: #45474B;
}

body.light-theme .settings h3, #settingsXMark {
  color: #45474B !important;
}

body.light-theme #settingsXMark {
  color: #45474B !important;
}

body.light-theme select {
  color: #45474B !important;
}

/* Dark Theme */
body.dark-theme .title,
body.dark-theme p,
body.dark-theme .cardTitle,
body.dark-theme .postTitle,
body.dark-theme .postText,
body.dark-theme .actions {
  color: #fff;
}

body.dark-theme .card {
  border: #ffffff 2px solid !important;
}

body.dark-theme .dot {
  background-color: #fff !important;
}

body.dark-theme .postText {
  color: #fff;
}

body.dark-theme {
  background-color: #45474B;
}

body.dark-theme .userIcon,
body.dark-theme .earthIcon,
body.dark-theme .handshakeIcon {
  color: #2d6a45 !important;
}

body.dark-theme .asteriskIcon,
body.dark-theme .locationDotIcon,
body.dark-theme .mapIcon {
  color: #fff !important;
}

body.dark-theme .darkHeader {
  color: #fff !important;
}

body.dark-theme .post {
  background-color: #6c6c6c;
  border: #6c6c6c 1px solid !important;
}

body.dark-theme .readMore {
  color: #adadad !important;
}

body.dark-theme .postHashtags {
  color: #51ae75 !important;
}

body.dark-theme .actions {
  color: #fff !important;
}

body.dark-theme .actions i:hover {
  color: #259851 !important;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

body.dark-theme .page {
  background-color: #259851;
}

body.dark-theme .info {
  color: #fff;
}

body.dark-theme .helpCompass {
  color: #fff;
}

body.dark-theme .profileIcon {
  color: #fff;
}

body.dark-theme .profileIcon:hover {
  color: #259851;
}

body.dark-theme .settingsCon {
  background-color: rgba(0, 0, 0, 0.37) !important;
}

body.dark-theme .settings {
  background-color: #45474B !important;
  color: #fff !important;
}

body.dark-theme .settings h3, #settingsXMark {
  color: #fff !important;
}

body.dark-theme select {
  color: #fff !important;
}/*# sourceMappingURL=style.css.map */