*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #45474B;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1A4D2E;
  }
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button, span{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .backToMainArrow{
        position: absolute;
        top: 40px;
        left: 40px;
        color: #1A4D2E;
        cursor: pointer;
        font-size: 32px;
    }
    .menuContainer {
        width: 52px;
        height: 46px;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        top: 35px;
        right: 35px;
        transition: height 0.8s ease, background-color 0.8s ease;
        .burger {
            width: 42px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
    
            .line {
                width: 100%;
                height: 7px;
                background-color: #1A4D2E;
                border-radius: 6px;
                transition: background-color 0.8s ease;
            }
        }
        .sidebar {
            width: 100%;
            height: 0px;
            transition: height 0.8s ease;
    
            .icons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                height: 100%;
                width: 100%;
                font-size: 0px;
            }
        }
        &:hover {
            height: 250px;
            background-color: #1A4D2E;
    
            .burger .line {
                background-color: #fff;
            }
    
            .sidebar {
                height: 210px;
    
                .icons {
                    font-size: 28px;
                }
            }
        }
    }
    .user{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        .userInfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #45474B;
            .userPicture{
                width: 121px;
                height: 121px;
                border-radius: 50%;
                object-fit: cover;
                background-color: #f0f0f0;
            }
            .FistLastName{
                font-size: 32px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            .email{
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 7px;
            }
            .description{
                width: 463px;
                font-size: 16px;
                font-weight: 400;
            }
            .placesVisited{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 9px;
                .visitedPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
            .placesToVisit{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 7px;
                .toVisitPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
        }
        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .postsChanging{
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: #1A4D2E 3px solid;
                height: 62px;
                .publishedPosts{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Josefin Sans;
                    font-size: 32px;
                    font-weight: 600;
                    background-color: #1A4D2E;
                    color: #fff;
                }
                .likedPosts{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Josefin Sans;
                    font-size: 32px;
                    font-weight: 600;
                    background-color: #fff;
                    color: #1A4D2E;
                }
            }
            .postsContainer{
                width: 100%;
                min-height: 521px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                flex-wrap: wrap;
                .post{
                    width: 430px;
                    height: 521px;
                    border-radius: 15px;
                    border: #1A4D2E 2px solid;
                    padding: 20px;
                    color: #45474B;
                    margin-bottom: 40px;
                    .top{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 45px;
                        .author{
                            display: flex;
                            height: 100%;
                            align-items: center;
                            .author_pic{
                                width: 45px;
                                height: 45px;
                                object-fit: cover;
                                border-radius: 50%;
                                margin-right: 10px;
    
                            }
                            .authro_name{
                                font-size: 24px;
                                font-weight: 600;
                            }
                        }
                        .time{
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                    .postImg{
                        width: 100%;
                        height: 240px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 15px 0;
                    }
                    .postTitle{
                        font-size: 28px;
                        font-weight: 700;
                    }
                    .postText{
                        font-size: 16px;
                        font-weight: 400;
                        margin: 7px 0;
                    }
                    .postHashtags{
                        font-size: 20px;
                        font-weight: 700;
                        color: #1A4D2E;
                    }
                    .actions{
                        width: 180px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 28px;
                        color: #45474B;
                        margin-top: 20px;
                    }
                    i{
                        transition: 0.5s ease;
    
                    }
                    i:hover{
                        color: #4F6F52;
                    }
                }
    
            }
        }
    }
    .postCreation{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        padding: 40px;
        #postCreation_xmark{
            font-size: 32px;
            color: #1A4D2E;
            position: absolute;
            top: 40px;
            right: 40px;
        }
        #postTitle{
            border: none;
            outline: none;
            min-width: 215px;
            max-width: 450px;
            height: 48px;
            font-size: 48px;
            font-weight: 700;
            font-family: Urbanist;
            color: #45474B;
            &::placeholder{
                font-size: 48px;
                font-weight: 700;
                font-family: Urbanist;
                color: #45474ba3;
            }
        }
        .inputsAndPic{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .inputs{
                width: 55%;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                #postText{
                    width: 100%;
                    height: 250px;
                    background-color: #00000013;
                    border-radius: 15px;
                    padding: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: flex-start;
                    resize: none;
                    font-size: 24px;
                    font-weight: 500;
                    color: #45474B;
                    &::placeholder{
                        font-size: 24px;
                        font-weight: 500;
                        font-family: Urbanist;
                        color: #45474ba3;
                    }
                }
                #postHashtags{
                    width: 100%;
                    height: 120px;
                    background-color: #00000013;
                    border-radius: 15px;
                    padding: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: flex-start;
                    resize: none;
                    font-size: 20px;
                    font-weight: 500;
                    color: #45474B;
                    &::placeholder{
                        font-size: 20px;
                        font-weight: 500;
                        font-family: Urbanist;
                        color: #45474ba3;
                    }
                }
            }
            .postPicture{  
                label {
                    cursor: pointer;
                    display: block;
                    width: 545px; 
                    height: 400px;
                    border-radius: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
            
                input[type="file"] {
                    display: none;
                }
            }

        }
        .buttons_con{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 47px;
            .buttons{
                width: 500px;
                display: flex;
                justify-content: space-between;
                button{
                    width: 205px;
                    height: 97px;
                    border-radius: 15px;
                    font-size: 32px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s ease-in-out;
                    font-family: Urbanist;
                    cursor: pointer;
                }
                #cancel{
                    border: #1A4D2E 2px solid;
                    color: #1A4D2E;
                    background-color: #fff;
                }
                #cancel:hover{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #post{
                    color: #fff;
                    background-color: #1A4D2E;
                }
                #post:hover{
                    background-color: #45474B;
                    color: #F5EFE6;
                }
            }
        }
    }
    .messageCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .message{
            width: 580px;
            height: 200px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
            }
            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                }
                #cancelLogout{
                    border: #1A4D2E 2px solid;
                }
                #cancelLogout:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                #logout{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #logout:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .profileEditingCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .prodileEditingPopup{
            width: 600px;
            height: 450px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
            }
            .editing{
                width: 100%;
                display: flex;
                flex-direction: column;
                font-family: Urbanist;
                input, textarea{
                    border: none;
                    outline: none;
                    color: #45474B;
                }
                textarea{
                    resize: none;
                }
                .photoNameCon{
                    display: flex;
                    align-items: center;
                    .profile-picture-container {
                        position: relative;
                        display: inline-block;
                        #currentProfilePicture {
                            width: 100px; 
                            height: 100px; 
                            border-radius: 50%; 
                            object-fit: cover;
                            cursor: pointer; 
                        }
                        #editPicture {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0; 
                            cursor: pointer; 
                        }
                    }
                    .nameEmail{
                        display: flex;
                        flex-direction: column;
                        margin-left: 12px;
                        .nameCon{
                            display: flex;
                            margin-bottom: 5px;
                            input{
                                font-size: 24px;
                                font-weight: 700;
                                width: 60px;
                                resize: horizontal;
                                margin-right: 15px;
                            }
                        }
                    }
                    input{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                #editDescription{
                    margin-top: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    height: 70px;
                }
                .textInputCon{
                    width: 100%;
                    font-size: 16px;
                    input{
                        width: 400px;
                        font-weight: 300;
                    }
                    span{
                        font-weight: 600;
                    }
                }
            }

            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;

                }
                #cancelEditing{
                    border: #1A4D2E 2px solid;
                }
                #cancelEditing:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                #edit{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #edit:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .settingsCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .settings{
            width: 400px;
            height: 250px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            #settingsXMark{
                position: absolute;
                top: 40px;
                right: 40px;
                font-size: 32px;
                color: #45474B;
                transition: 0.5s ease-in-out;
            }
            #settingsXMark:hover{
                color: #1A4D2E;
            }
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 3px;
            }
            .settingsOption{
                display: flex;
                margin-top: 7px;
                width: 100%;
                span{
                    font-size: 24px;
                    font-weight: 300;
                    margin-right: 10px;
                }
                select{
                    font-family: Urbanist;
                    font-size: 24px;
                    font-weight: 700; 
                    border: none;
                    outline: none;
                    cursor: pointer;
                    option{
                        width: 40px;
                        cursor: pointer;
                    }
                }
                .themeChanger{
                    font-family: Urbanist;
                    font-size: 24px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}