*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
   background: #fff;
} 
::-webkit-scrollbar-thumb {
   background: #45474B;
}
::-webkit-scrollbar-thumb:hover {
   background: #1A4D2E;
}
.likedPostsContainer{
    width: 100%;
    min-height: 521px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    .post{
        width: 430px;
        height: 521px;
        border-radius: 15px;
        border: #1A4D2E 2px solid;
        padding: 20px;
        color: #45474B;
        margin-bottom: 40px;
        .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            .author{
                display: flex;
                height: 100%;
                align-items: center;
                .author_pic{
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;

                }
                .authro_name{
                    font-size: 24px;
                    font-weight: 600;
                }
            }
            .time{
                font-size: 16px;
                font-weight: 300;
            }
        }
        .author_name{
            font-size: 24px;
            font-weight: 600;
        }
        .postImg{
            width: 100%;
            height: 240px;
            object-fit: cover;
            border-radius: 10px;
            margin: 15px 0;
        }
        .postTitle{
            font-size: 28px;
            font-weight: 700;
        }
        .postText{
            font-size: 16px;
            font-weight: 400;
            margin: 7px 0;
        }
        .postText .postFullText {
            display: none;
        }
        .readMore{
            text-decoration: none;
            color: #2C2E32;
            font-weight: 600;
            font-family: Urbanist;
        }
        .postHashtags{
            font-size: 20px;
            font-weight: 700;
            color: #1A4D2E;
        }
        .actions{
            width: 180px;
            display: flex;
            justify-content: space-between;
            font-size: 28px;
            color: #45474B;
            margin-top: 20px;
            align-items: center;
            .likesAmount{
                font-size: 22px;
                font-weight: 700;
                margin-right: -13px;
                margin-bottom: -3px;
            }
        }
        i{
            transition: 0.5s ease;

        }
        i:hover{
            color: #4F6F52;
        }
    }

}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;

    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button, span, div{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .backToMainArrow{
        position: absolute;
        top: 40px;
        left: 40px;
        color: #1A4D2E;
        cursor: pointer;
        font-size: 32px;
    }
    .menuContainer {
        width: 52px;
        height: 46px;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        top: 35px;
        right: 35px;
        transition: height 0.8s ease, background-color 0.8s ease;
        .burger {
            width: 42px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
    
            .line {
                width: 100%;
                height: 7px;
                background-color: #1A4D2E;
                border-radius: 6px;
                transition: background-color 0.8s ease;
            }
        }
        .sidebar {
            width: 100%;
            height: 0px;
            transition: height 0.8s ease;
    
            .icons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                height: 100%;
                width: 100%;
                font-size: 0px;
            }
        }
        &:hover {
            height: 250px;
            background-color: #1A4D2E;
    
            .burger .line {
                background-color: #fff;
            }
    
            .sidebar {
                height: 210px;
    
                .icons {
                    font-size: 28px;
                }
            }
        }
    }
    .user{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        .userInfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #45474B;
            .userPicture{
                width: 121px;
                height: 121px;
                border-radius: 50%;
                object-fit: cover;
                background-color: #f0f0f0;
            }
            .FistLastName{
                font-size: 32px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            .email{
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 7px;
            }
            .description{
                width: 463px;
                font-size: 16px;
                font-weight: 400;
            }
            .placesVisited{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 9px;
                .visitedPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
            .placesToVisit{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 7px;
                .toVisitPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
            .followings{
                width: 240px;
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                .following{
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    .amount{
                        font-size: 32px;
                        font-weight: 700;
                        color: #2C2E32;
                    }
                    .following_text{
                        color: #45474ba3;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
        }
        .posts{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .postsChanging {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: #1A4D2E 3px solid;
                height: 62px;
                cursor: pointer;
                
                .publishedPosts,
                .likedPosts {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Josefin Sans;
                    font-size: 32px;
                    font-weight: 600;
                    transition: background-color 0.3s ease, color 0.3s ease;
                }
                .publishedPosts, .likedPosts {
                    background-color: #fff;
                    color: #1A4D2E;
                }
            
                .active {
                    background-color: #1A4D2E;
                    color: #fff;
                }
            }
            
            .postsContainer{
                width: 100%;
                min-height: 521px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                flex-wrap: wrap;
                .post{
                    width: 430px;
                    height: 521px;
                    border-radius: 15px;
                    border: #1A4D2E 2px solid;
                    padding: 20px;
                    color: #45474B;
                    margin-bottom: 40px;
                    .top{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 45px;
                        .author{
                            display: flex;
                            height: 100%;
                            align-items: center;
                            .author_pic{
                                width: 45px;
                                height: 45px;
                                object-fit: cover;
                                border-radius: 50%;
                                margin-right: 10px;
    
                            }
                            .authro_name{
                                font-size: 24px;
                                font-weight: 600;
                            }
                        }
                        .time{
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                    .postImg{
                        width: 100%;
                        height: 240px;
                        object-fit: cover;
                        border-radius: 10px;
                        margin: 15px 0;
                    }
                    .postTitle{
                        font-size: 28px;
                        font-weight: 700;
                    }
                    .postText{
                        font-size: 16px;
                        font-weight: 400;
                        margin: 7px 0;
                    }
                    .postText .postFullText {
                        display: none;
                    }
                    .readMore{
                        text-decoration: none;
                        color: #2C2E32;
                        font-weight: 600;
                        font-family: Urbanist;
                    }
                    .postHashtags{
                        font-size: 20px;
                        font-weight: 700;
                        color: #1A4D2E;
                    }
                    .actions{
                        width: 180px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 28px;
                        color: #45474B;
                        margin-top: 20px;
                    }
                    i{
                        transition: 0.5s ease;
    
                    }
                    i:hover{
                        color: #4F6F52;
                    }
                }
    
            }
        }
    }
    .postCreation{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        padding: 40px;
        #postCreation_xmark{
            font-size: 32px;
            color: #1A4D2E;
            position: absolute;
            top: 40px;
            right: 40px;
        }
        #postTitle{
            border: none;
            outline: none;
            min-width: 215px;
            max-width: 450px;
            height: 48px;
            font-size: 48px;
            font-weight: 700;
            font-family: Urbanist;
            color: #45474B;
            &::placeholder{
                font-size: 48px;
                font-weight: 700;
                font-family: Urbanist;
                color: #45474ba3;
            }
        }
        .inputsAndPic{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .inputs{
                width: 55%;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                #postText{
                    width: 100%;
                    height: 250px;
                    background-color: #00000013;
                    border-radius: 15px;
                    padding: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: flex-start;
                    resize: none;
                    font-size: 24px;
                    font-weight: 500;
                    color: #45474B;
                    &::placeholder{
                        font-size: 24px;
                        font-weight: 500;
                        font-family: Urbanist;
                        color: #45474ba3;
                    }
                }
                #postHashtags{
                    width: 100%;
                    height: 120px;
                    background-color: #00000013;
                    border-radius: 15px;
                    padding: 20px;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: flex-start;
                    resize: none;
                    font-size: 20px;
                    font-weight: 500;
                    color: #45474B;
                    &::placeholder{
                        font-size: 20px;
                        font-weight: 500;
                        font-family: Urbanist;
                        color: #45474ba3;
                    }
                }
            }
            .postPicture{  
                label {
                    cursor: pointer;
                    display: block;
                    width: 545px; 
                    height: 400px;
                    border-radius: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
            
                input[type="file"] {
                    display: none;
                }
            }

        }
        .buttons_con{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 47px;
            .buttons{
                width: 500px;
                display: flex;
                justify-content: space-between;
                button{
                    width: 205px;
                    height: 97px;
                    border-radius: 15px;
                    font-size: 32px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s ease-in-out;
                    font-family: Urbanist;
                    cursor: pointer;
                }
                #cancel{
                    border: #1A4D2E 2px solid;
                    color: #1A4D2E;
                    background-color: #fff;
                }
                #cancel:hover{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #post{
                    color: #fff;
                    background-color: #1A4D2E;
                }
                #post:hover{
                    background-color: #45474B;
                    color: #F5EFE6;
                }
            }
        }
    }
    .messageCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .message{
            width: 580px;
            height: 200px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
            }
            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;
                }
                #cancel{
                    border: #1A4D2E 2px solid;
                }
                #cancel:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                #confirm{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #confirm:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .profileEditingCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .prodileEditingPopup{
            width: 600px;
            height: 450px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
            }
            .editing{
                width: 100%;
                display: flex;
                flex-direction: column;
                font-family: Urbanist;
                input, textarea{
                    border: none;
                    outline: none;
                    color: #45474B;
                }
                textarea{
                    resize: none;
                }
                .photoNameCon{
                    display: flex;
                    align-items: center;
                    .profile-picture-container {
                        position: relative;
                        display: inline-block;
                        #currentProfilePicture {
                            width: 100px; 
                            height: 100px; 
                            border-radius: 50%; 
                            object-fit: cover;
                            cursor: pointer; 
                        }
                        #editPicture {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0; 
                            cursor: pointer; 
                        }
                    }
                    .nameEmail{
                        display: flex;
                        flex-direction: column;
                        margin-left: 12px;
                        .nameCon{
                            display: flex;
                            margin-bottom: 5px;
                            input{
                                font-size: 24px;
                                font-weight: 700;
                                width: 80px;
                                resize: horizontal;
                                margin-right: 15px;
                            }
                        }
                    }
                    input{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                #editDescription{
                    margin-top: 15px;
                    font-size: 16px;
                    font-weight: 500;
                    height: 70px;
                }
                .textInputCon{
                    width: 100%;
                    font-size: 16px;
                    input{
                        width: 400px;
                        font-weight: 300;
                    }
                    span{
                        font-weight: 600;
                    }
                }
            }

            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;

                }
                #cancelEditing{
                    border: #1A4D2E 2px solid;
                }
                #cancelEditing:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                #edit{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #edit:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .postEditingCon{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .postEditingPopup{
            width: 700px;
            height: 430px;
            padding: 40px;
            border-radius: 16px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
            }
            .editing{
                width: 100%;
                display: flex;
                margin-top: 15px;
                input, textarea{
                    border: none;
                    outline: none;
                    color: #45474B;
                }
                textarea{
                    resize: none;
                }

                    .post-picture-container {
                        position: relative;
                        display: inline-block;
                        margin-right: 15px;
                        #currentPostPicture {
                            width: 300px; 
                            height: 200px; 
                            object-fit: cover;
                            cursor: pointer; 
                            border-radius: 10px;
                        }
                        #editPostPicture {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0; 
                            cursor: pointer; 
                        }
                    }
                    .inputs{
                        color: #45474B;

                        #editTitle{
                            font-size: 24px;
                            font-weight: 700;
                            font-family: Josefin Sans;
                        }
                    #editBody{
                        width: 100%;
                        margin-top: 15px;
                        font-size: 16px;
                        font-weight: 400;
                        height: 100px;
                        font-family: Urbanist;
                    }
                    #editHashtags{
                        width: 100%;
                        font-size: 20px;
                        font-weight: 700;
                        color: #1A4D2E;
                    }
                    }

            }
                
            .buttons{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                div{
                    width: 150px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Josefin Sans;
                    border-radius: 14px;
                    cursor: pointer;
                    transition: 0.5s ease-in-out;

                }
                #cancelPostEditing{
                    border: #1A4D2E 2px solid;
                }
                #cancelPostEditing:hover{
                    background-color: #45474B;
                    color: #fff;
                }
                #editPost{
                    background-color: #1A4D2E;
                    color: #fff;
                }
                #editPost:hover{
                    background-color: #45474B;
                    color: #fff;
                }
            }
        }
    }
    .settingsCon {
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
      
        .settings {
          width: 450px;
          height: 230px;
          padding: 30px;
          border-radius: 16px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          color: #45474B;
          user-select: none;
      
          #settingsXMark {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 28px;
            color: #45474B;
            transition: 0.5s ease-in-out;
          }
      
          #settingsXMark:hover {
            color: #1A4D2E;
          }
      
          h3 {
            color: #45474B;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 15px;
          }
      
          .settingsOption {
            display: flex;
            margin-top: 7px;
            width: 100%;
      
            span {
              font-size: 24px;
              font-weight: 300;
              margin-right: 10px;
            }
      
            select {
              font-family: Urbanist;
              font-size: 24px;
              font-weight: 700;
              border: none;
              outline: none;
              cursor: pointer;
              color: #45474B;
              appearance: none; 
              -webkit-appearance: none;
              -moz-appearance: none; 
              background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+') no-repeat right 10px center; 
              padding-right: 10px; 
            }
      
            .themeChanger {
              font-family: Urbanist;
              font-size: 24px;
              font-weight: 700;
              cursor: pointer;
              transition: 0.5s ease-in-out;
            }
          }
          .reportOption{
            display: flex;
            margin-top: 20px;
            width: 100%;
            align-items: center;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            span{
                margin-left: 7px;
            }

        }
        .reportOption:hover{
            color: #1A4D2E;
            font-weight: 500;
        }
        }
    }
    .followingsPopupContainer{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #00000041;
        position: fixed;
        top: 0;
        left: 0;
        .followingsPopup {
          width: 700px;
          height: 430px;
          padding: 40px;
          border-radius: 16px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          color: #45474B;
          #followingXmark{
            position: absolute;
            top: 40px;
            right: 40px;
            font-size: 32px;
            color: #45474B;
            transition: 0.5s ease-in-out;
          }
          .followers{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
                margin-bottom: 15px;
            }
            .followersCon{
                overflow-y: auto;
                .follower{
                    width: 97%;
                    height: 80px;
                    border: #2C2E32 1px solid;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    border-radius: 16px;
                    margin-bottom: 15px;
                    position: relative;
                    .followerPic{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .followerName{
                        font-size: 24px;
                        font-weight: 600;
                        color: #2C2E32;
                        margin-left: 10px;
                    }
                    .deleteFollower{
                        position: absolute;
                        right: 20px;
                        font-size: 24px;
                        cursor: pointer;
                        color: #2C2E32;
                    }
                }
            }

          }
          .followingsPopupStage{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            h3{
                color: #45474B;
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 12px;
                margin-bottom: 15px;
            }
            .showFollowingsCon{
                overflow-y: auto;
                .following{
                    width: 97%;
                    height: 80px;
                    border: #2C2E32 1px solid;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    border-radius: 16px;
                    margin-bottom: 15px;
                    position: relative;
                    .followingPic{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .followingName{
                        font-size: 24px;
                        font-weight: 600;
                        color: #2C2E32;
                        margin-left: 10px;
                    }
                    .followingsPopup_unfollow{
                        position: absolute;
                        right: 20px;
                        font-size: 20px;
                        font-weight: 600;
                        cursor: pointer;
                        color: #2C2E32;
                    }
                }
            }

          }

        }
    }
    .userProfilePopup{
        width: 100%;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        display: none;
        overflow-y: auto;
        .user{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            position: relative;
            .followerBackToMainArrow{
                position: absolute;
                top: 40px;
                left: 40px;
                color: #1A4D2E;
                cursor: pointer;
                font-size: 32px;
            }
            .userInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: #45474B;
                .userPicture{
                    width: 121px;
                    height: 121px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-color: #f0f0f0;
                }
                .FistLastName{
                    font-size: 32px;
                    font-weight: 600;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
                .email{
                    font-weight: 300;
                    font-size: 16px;
                    margin-bottom: 7px;
                }
                .description{
                    width: 463px;
                    font-size: 16px;
                    font-weight: 400;
                }
                .placesVisited{
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    margin-top: 9px;
                    .visitedPlaces{
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                        margin-left: 5px;
                    }
                }
                .placesToVisit{
                    font-size: 16px;
                    font-weight: 400;
                    display: flex;
                    margin-top: 7px;
                    .toVisitPlaces{
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                        margin-left: 5px;
                    }
                }
                .followings{
                    width: 240px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    .following{
                        width: 100px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;
                        .amount{
                            font-size: 32px;
                            font-weight: 700;
                            color: #2C2E32;
                        }
                        .following_text{
                            color: #45474ba3;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }
            .posts{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                .postsChanging{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: #1A4D2E 3px solid;
                    height: 62px;
                    cursor: pointer;
                    .publishedPosts{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Josefin Sans;
                        font-size: 32px;
                        font-weight: 600;
                        background-color: #1A4D2E;
                        color: #fff;
                    }
                    .likedPosts{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Josefin Sans;
                        font-size: 32px;
                        font-weight: 600;
                        background-color: #fff;
                        color: #1A4D2E;
                    }
                }
                .userPostsContainer{
                    width: 100%;
                    min-height: 521px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    flex-wrap: wrap;
                    .post{
                        width: 430px;
                        height: 521px;
                        border-radius: 15px;
                        border: #1A4D2E 2px solid;
                        padding: 20px;
                        color: #45474B;
                        margin-bottom: 40px;
                        .top{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 45px;
                            .author{
                                display: flex;
                                height: 100%;
                                align-items: center;
                                .author_pic{
                                    width: 45px;
                                    height: 45px;
                                    object-fit: cover;
                                    border-radius: 50%;
                                    margin-right: 10px;
        
                                }
                                .authro_name{
                                    font-size: 24px;
                                    font-weight: 600;
                                }
                            }
                            .time{
                                font-size: 16px;
                                font-weight: 300;
                            }
                        }
                        .author_name{
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .postImg{
                            width: 100%;
                            height: 240px;
                            object-fit: cover;
                            border-radius: 10px;
                            margin: 15px 0;
                        }
                        .postTitle{
                            font-size: 28px;
                            font-weight: 700;
                        }
                        .postText{
                            font-size: 16px;
                            font-weight: 400;
                            margin: 7px 0;
                        }
                        .postText .postFullText {
                            display: none;
                        }
                        .readMore{
                            text-decoration: none;
                            color: #2C2E32;
                            font-weight: 600;
                            font-family: Urbanist;
                        }
                        .postHashtags{
                            font-size: 20px;
                            font-weight: 700;
                            color: #1A4D2E;
                        }
                        .actions{
                            width: 180px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 28px;
                            color: #45474B;
                            margin-top: 20px;
                            align-items: center;
                            .likesAmount{
                                font-size: 22px;
                                font-weight: 700;
                                margin-right: -13px;
                                margin-bottom: -3px;
                            }
                        }
                        i{
                            transition: 0.5s ease;
        
                        }
                        i:hover{
                            color: #4F6F52;
                        }
                    }
        
                }

            }
        }
        .followingsPopupContainer{
            width: 100%;
            height: 100vh;
            display: none;
            justify-content: center;
            align-items: center;
            background-color: #00000041;
            position: fixed;
            top: 0;
            left: 0;
            .followingsPopup {
              width: 700px;
              height: 430px;
              padding: 40px;
              border-radius: 16px;
              background-color: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;
              color: #45474B;
              #followingXmark{
                position: absolute;
                top: 40px;
                right: 40px;
                font-size: 32px;
                color: #45474B;
                transition: 0.5s ease-in-out;
              }
              .followers{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                h3{
                    color: #45474B;
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 12px;
                    margin-bottom: 15px;
                }
                .followersCon{
                    overflow-y: auto;
                    .follower{
                        width: 97%;
                        height: 80px;
                        border: #2C2E32 1px solid;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        border-radius: 16px;
                        margin-bottom: 15px;
                        position: relative;
                        .followerPic{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .followerName{
                            font-size: 24px;
                            font-weight: 600;
                            color: #2C2E32;
                            margin-left: 10px;
                            font-family: Urbanist;
                        }
                        .deleteFollower{
                            position: absolute;
                            right: 20px;
                            font-size: 24px;
                            cursor: pointer;
                            color: #2C2E32;
                        }
                    }
                }
    
              }
              .followingsPopupStage{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                h3{
                    color: #45474B;
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 12px;
                    margin-bottom: 15px;
                }
                .showFollowingsCon{
                    overflow-y: auto;
                    .following{
                        width: 97%;
                        height: 80px;
                        border: #2C2E32 1px solid;
                        padding: 15px;
                        display: flex;
                        align-items: center;
                        border-radius: 16px;
                        margin-bottom: 15px;
                        position: relative;
                        .followingPic{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .followingName{
                            font-size: 24px;
                            font-weight: 600;
                            color: #2C2E32;
                            margin-left: 10px;
                            font-family: Urbanist;
                        }
                        .followingsPopup_unfollow{
                            position: absolute;
                            right: 20px;
                            font-size: 20px;
                            font-weight: 600;
                            cursor: pointer;
                            color: #2C2E32;
                        }
                    }
                }
    
              }
    
            }
        }
    }
}



//dark theme settings
/* Light Theme */
body.light-theme .title,
body.light-theme p,
body.light-theme .cardTitle,
body.light-theme .postTitle,
body.light-theme .postText,
body.light-theme .actions {
    color: #45474B;
}
body.light-theme #greeting_p{
    color: #fff;
}
body.light-theme .card {
    border: #45474B 2px solid;
}
body.light-theme .dot {
    background-color: #45474B;
}
body.light-theme .post{
    border: #45474B 1px solid;
}
body.light-theme .readMore{
    color: #2C2E32;
}
body.light-theme .postHashtags{
    color: #1A4D2E;
}
body.light-theme .actions{
    color: #45474B;
}
body.light-theme .actions i:hover {
    color: #1A4D2E; 
    transform: scale(1.1); 
    transition: transform 0.3s ease, color 0.3s ease;
}
body.light-theme .pagination .active{
    background-color: #1A4D2E; 
}
body.light-theme .settingsCon{
    background-color: rgba(0, 0, 0, 0.2549019608);
}
body.light-theme .settings{
    background-color: #fff;
    color: #45474B;
}
body.light-theme .settings h3, #settingsXMark{
    color: #45474B !important;
}
body.light-theme #settingsXMark{
    color: #45474B !important;
}
body.light-theme select{
    color: #45474B !important;
}
body.light-theme .FistLastName{
    color: #45474B !important;
}
body.light-theme .userInfo{
    color: #45474B !important;
}
body.light-theme p{
    color: #45474B !important;
}
body.light-theme .amount, .following_text{
    color: #45474B !important;
}
body.light-theme .following_text{
    color: #45474B !important;
}
body.dark-theme .publishedPosts{
    background-color: #1A4D2E !important;
}
body.dark-theme .line{
    background-color: #1A4D2E !important;
}
// body.light-theme .burger:hover .line{
//     background-color: #fff !important;
// }
body.light-theme .postsChanging{
    border-bottom: #1A4D2E 3px solid !important;
}

/* Dark Theme */
body.dark-theme .title,
body.dark-theme p,
body.dark-theme .cardTitle,
body.dark-theme .postTitle,
body.dark-theme .postText,
body.dark-theme .actions {
    color: #fff;
}

body.dark-theme .card{
    border: #ffffff 2px solid !important;
}
body.dark-theme .dot {
    background-color: #fff !important;
}
body.dark-theme .postText {
    color: #fff;
}
body.dark-theme {
    background-color: #45474B;
}
body.dark-theme .post{
    background-color: #6c6c6c;
    border: #6c6c6c 1px solid !important;
}
body.dark-theme .readMore{
    color: #adadad !important;
}
body.dark-theme .postHashtags{
    color: #51ae75 !important;
}
body.dark-theme .actions{
    color: #fff !important;
}
body.dark-theme .actions i:hover {
    color: #259851 !important; 
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}
body.dark-theme .page{
    background-color: #259851; 
}
body.dark-theme .settingsCon{
    background-color: rgba(0, 0, 0, 0.37) !important;
}
body.dark-theme .settings{
    background-color: #45474B !important;
    color: #fff !important;
}
body.dark-theme .settings h3, #settingsXMark{
    color: #fff !important;
}
body.dark-theme select{
    color: #fff !important;
}
body.dark-theme .FistLastName{
    color: #fff !important;
}
body.dark-theme .userInfo{
    color: #fff !important;
}
body.dark-theme p{
    color: #fff !important;
}
body.dark-theme .amount, .following_text{
    color: #fff !important;
}
body.dark-theme .likedPosts{
    color: #09682d !important;
}
body.dark-theme .backToMainArrow{
    color: #1b8d47 !important;
}
body.dark-theme .publishedPosts{
    background-color: #09682d !important;
}
body.dark-theme .line{
    background-color: #1b8d47 !important;
}
// body.dark-theme .burger:hover .line{
//     background-color: #fff !important;
// }
body.dark-theme .postsChanging{
    border-bottom: #09682d 3px solid !important;
}