@media screen and (max-width: 1440px) {
    .wrap{
        padding: 30px;
        .user{
            .posts{
                .postsContainer{
                    .post{
                        width: 420px;
                    }
                }
                .likedPostsContainer{
                    .post{
                        width: 420px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .wrap{
        padding: 30px;
        .user{
            .posts{
                .postsContainer{
                    .post{
                        width: 420px;
                    }
                }
                .likedPostsContainer{
                    .post{
                        width: 420px;
                    }
                }
            }
        }
        #postForm{
            .postCreation{
                .inputsAndPic{
                    .inputs{
                        width: 45%;
                        textarea{
                            width: 100%;
                        }
                    }
                    .postPicture{
                        label{
                            width: 500px;
                        }
                    }

                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .wrap{
        padding: 20px;
        .user{
            .userInfo{
                .description{
                    font-size: 15px;
                }
                .placesVisited{
                    font-size: 14px;
                    .visitedPlaces{
                        font-size: 14px;
                        margin-left: 3px;
                    }
                }
                .placesToVisit{
                    font-size: 14px;
                    .toVisitPlaces{
                        font-size: 14px;
                        margin-left: 3px;
                    }
                }
            }
            .posts{
                .postsChanging{
                    .publishedPosts, .likedPosts{
                        font-size: 24px;
                    }
                }
                .postsContainer{
                    .post{
                        width: 100%;
                    }
                }
                .likedPostsContainer{
                    .post{
                        width: 100%;
                    }
                }
            }
        }
        #postForm{
            .postCreation{
                .inputsAndPic{
                    height: 340px;
                    .inputs{
                        width: 45%;
                        height: 100%;

                        textarea{
                            width: 100%;
                        }
                        #postText{
                            height: 200px;
                            margin-bottom: 10px;
                        }
                    }
                    .postPicture{
                        label{
                            width: 360px;
                            height: 100%;
                        }
                    }

                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    .wrap{
        padding: 10px;
        .menuContainer{
            z-index: 9998;
        }
        .user{
            padding: 20px;
            padding-top: 50px;
            width: 425px;
            position: absolute;
            .userInfo{
                width: 100%;
                .userPicture{
                    width: 100px;
                    height: 100px;
                }
                .FistLastName{
                    font-size: 24px;
                }
                .email{
                    font-size: 14px;
                }
                .description{
                    width: 80%;
                    font-size: 12px;
                }
                .placesVisited{
                    font-size: 14px;
                    .visitedPlaces{
                        font-size: 14px;
                        margin-left: 0px;
                    }
                }
                .placesToVisit{
                    font-size: 14px;
                    .toVisitPlaces{
                        font-size: 14px;
                        margin-left: 3px;
                    }
                }
            }
            .posts{
                .postsChanging{
                    .publishedPosts, .likedPosts{
                        font-size: 22px;
                    }
                }
                .postsContainer{
                    .post{
                        width: 100%;
                    }
                }
                .likedPostsContainer{
                    .post{
                        width: 100%;
                    }
                }
            }
        }
        .profileEditingCon{
            width: 100%;
            z-index: 9999;
            padding: 0 20px;
            .prodileEditingPopup{
                width: 100%;
                padding: 30px 20px;

                h3{
                    font-size: 24px;
                }
                #editPlacesVisited{
                    width: 100%;
                }
                #editPlacesToVisit{
                    width: 100%;
                }
            }
        }
        .settingsCon{
            width: 100%;
            padding: 0 20px;
        }
        .messageCon{
            width: 100%;
            padding: 0 20px;
            z-index: 9999;
            .message{
                width: 100%;
                padding: 25px;
            }
        }
        #postForm{
            .postCreation{
                width: 100%;
                z-index: 9999;
                padding: 20px;
                flex-direction: column;
                #postCreation_xmark{
                    top: 20px;
                    right: 20px;
                }
                #postTitle{
                    font-size: 24px;
                    margin-bottom: -18px;
                    &::placeholder{
                        font-size: 32px;
                    }
                }
                .inputsAndPic{
                    flex-direction: column;
                    .inputs{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        #postText{
                            height: 90px;
                            font-size: 14px;
                            padding: 10px;
                            &::placeholder{
                                font-size: 14px;
                            }
                        }
                        #postHashtags{
                            height: 70px;
                            font-size: 16px;
                            padding: 10px;
                            &::placeholder{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .postPicture{
                    width: 100%;
                    margin-top: 10px;
                    height: 250px;
                    label{
                        width: 100% !important;
                        #post-pic-preview{
                            width: 100%;
                        }
                    }
                }
                .buttons{
                    width: 100%;
                    padding: 0 20px;
                    margin-top: 60px;
                    button{
                        width: 150px !important;
                        height: 70px;
                    }
                }
            }
        }

        .followingsPopupContainer{
            width: 100%;
            z-index: 9999;
            padding: 0 20px;
            .followingsPopup{
                width: 100%;
                padding: 20px;
                padding-top: 25px;
                #followingXmark{
                    top: 20px;
                    right: 20px;
                }
            }
        }
        .postEditingCon{
            width: 100%;
            z-index: 9999;
            padding: 0 20px;
            .postEditingPopup{
                width: 100%;
                padding: 20px;
                height: 470px;
                .editing{
                    flex-direction: column;
                    .post-picture-container{
                        width: 100%;
                        height: 150px;
                        #currentPostPicture{
                            width: 100%;
                            height: 100%;
                        }
                        #editPostPicture{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .inputs{
                        margin-top: 12px;
                        #editBody{
                            margin-top: 9px;
                            height: 70px;
                        }
                    }


                }
                .buttons{
                    margin-top: 0px;
                }
                h3{
                    margin-bottom: 0px;
                }

            }
        }
    }
}
@media screen and (max-width: 376px) {
    ::-webkit-scrollbar {
        width: 5px !important;
    }
    .wrap {
        padding: 0px;
        width: 100%;
        min-height: 100vh;
        box-sizing: border-box;
        overflow-x: hidden; 
        .menuContainer {
            z-index: 9998;
            top: 15px;
            right: 15px;
            .burger {
                height: 32px;
                .line {
                    height: 5px;
                }
            }
        }
        .user {
            width: 100%;
            padding: 10px;
            padding-top: 50px;
            position: relative;
            max-width: 100%; 
            .backToMainArrow{
                top: 20px;
                left: 20px;
            }
            .userInfo {
                width: 100%;
                max-width: 99%; 
                .userPicture {
                    width: 80px;
                    height: 80px;
                }
                .placesVisited{
                    font-size: 12px;
                    .visitedPlaces{
                        font-size: 12px;
                    }
                }
                .placesToVisit{
                    font-size: 12px;
                    .toVisitPlaces{
                        font-size: 12px;
                    }
                }
                .followings{
                    .following{
                        .amount{
                            font-size: 30px;
                        }
                        .following_text{
                            font-size: 18px;
                        }
                    }
                }

            }
        }
        .posts {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .postsContainer {
                width: 100%;
                justify-content: center;
                .post {
                    width: 85%;
                    max-width: 100%; 
                    height: auto;
                    .postTitle {
                        font-size: 24px;
                    }
                }
            }
        }
        .postEditingPopup{
            .buttons{
                width: 100%;
                padding: 0 20px;
                div{
                    width: 130px !important;
                }
            }
        }
        .message{
            height: 180px !important;
            #messageText{
                font-size: 24px;
            }
            .buttons{
                width: 100%;
                padding: 0 20px;
                div{
                    width: 130px !important;
                }
            }
        }
        .prodileEditingPopup{
            #editDescription{
                margin-bottom: 15px;
            }
            .buttons{
                width: 100%;
                padding: 0 20px;
                div{
                    width: 130px !important;
                }
            }
        }
    }
}

* {
    box-sizing: border-box;
}
