*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #45474B;
    color: #fff;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    h1,h2,h3,h4,h5,h6{
        font-family: Josefin Sans;
    }
    p, button, span{
        font-family: Urbanist;
    }
    i, button{
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }
    .backToMainArrow{
        position: absolute;
        top: 40px;
        left: 40px;
        color: #1A4D2E;
        cursor: pointer;
        font-size: 32px;
    }
    .menuContainer{
        width: 52px;
        height: 46px;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        top: 35px;
        right: 35px;
        transition: 0.8s ease;

        .burger{
            width: 42px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            .line{
                width: 100%;
                height: 7px;
                background-color: #1A4D2E;
                border-radius: 6px;
            }
        }
        .sidebar{
            width: 100%;
            height: 0px;
            transition: 0.8s ease;
            .icons{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                height: 100%;
                width: 100%;
                font-size: 0px;
            }

        }
    }
    .user{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;

        .userInfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: #45474B;
            .userPicture{
                width: 121px;
                height: 121px;
                border-radius: 50%;
                object-fit: cover;
                background-color: #f0f0f0;
            }
            .FistLastName{
                font-size: 32px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            .email{
                font-weight: 300;
                font-size: 16px;
                margin-bottom: 7px;
            }
            .description{
                width: 463px;
                font-size: 16px;
                font-weight: 400;
            }
            .placesVisited{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 9px;
                .visitedPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
            .placesToVisit{
                font-size: 16px;
                font-weight: 400;
                display: flex;
                margin-top: 7px;
                .toVisitPlaces{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin-left: 5px;
                }
            }
        }
    }
    .posts{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        .postsChanging{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: #1A4D2E 3px solid;
            height: 62px;
            .publishedPosts{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Josefin Sans;
                font-size: 32px;
                font-weight: 600;
                background-color: #1A4D2E;
                color: #fff;
            }
            .likedPosts{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Josefin Sans;
                font-size: 32px;
                font-weight: 600;
                background-color: #fff;
                color: #1A4D2E;
            }
        }
    }
}