* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #45474B;
}

::-webkit-scrollbar-thumb:hover {
  background: #1A4D2E;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button, .wrap span, .wrap div {
  font-family: Urbanist;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .backToMainArrow {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #1A4D2E;
  cursor: pointer;
  font-size: 32px;
}
.wrap .menuContainer {
  width: 52px;
  height: 46px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 35px;
  right: 35px;
  transition: height 0.8s ease, background-color 0.8s ease;
}
.wrap .menuContainer .burger {
  width: 42px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrap .menuContainer .burger .line {
  width: 100%;
  height: 7px;
  background-color: #1A4D2E;
  border-radius: 6px;
  transition: background-color 0.8s ease;
}
.wrap .menuContainer .sidebar {
  width: 100%;
  height: 0px;
  transition: height 0.8s ease;
}
.wrap .menuContainer .sidebar .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 0px;
}
.wrap .menuContainer:hover {
  height: 250px;
  background-color: #1A4D2E;
}
.wrap .menuContainer:hover .burger .line {
  background-color: #fff;
}
.wrap .menuContainer:hover .sidebar {
  height: 210px;
}
.wrap .menuContainer:hover .sidebar .icons {
  font-size: 28px;
}
.wrap .user {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.wrap .user .userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #45474B;
}
.wrap .user .userInfo .userPicture {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f0f0f0;
}
.wrap .user .userInfo .FistLastName {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}
.wrap .user .userInfo .email {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 7px;
}
.wrap .user .userInfo .description {
  width: 463px;
  font-size: 16px;
  font-weight: 400;
}
.wrap .user .userInfo .placesVisited {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 9px;
}
.wrap .user .userInfo .placesVisited .visitedPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .user .userInfo .placesToVisit {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 7px;
}
.wrap .user .userInfo .placesToVisit .toVisitPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .user .userInfo .followings {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.wrap .user .userInfo .followings .following {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.wrap .user .userInfo .followings .following .amount {
  font-size: 32px;
  font-weight: 700;
  color: #2C2E32;
}
.wrap .user .userInfo .followings .following .following_text {
  color: rgba(69, 71, 75, 0.6392156863);
  font-size: 20px;
  font-weight: 300;
}
.wrap .user .posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.wrap .user .posts .postsChanging {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #1A4D2E 3px solid;
  height: 62px;
}
.wrap .user .posts .postsChanging .publishedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .user .posts .postsChanging .likedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #fff;
  color: #1A4D2E;
}
.wrap .user .posts .postsContainer {
  width: 100%;
  min-height: 521px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.wrap .user .posts .postsContainer .post {
  width: 430px;
  height: 521px;
  border-radius: 15px;
  border: #1A4D2E 2px solid;
  padding: 20px;
  color: #45474B;
  margin-bottom: 40px;
}
.wrap .user .posts .postsContainer .post .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.wrap .user .posts .postsContainer .post .top .author {
  display: flex;
  height: 100%;
  align-items: center;
}
.wrap .user .posts .postsContainer .post .top .author .author_pic {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.wrap .user .posts .postsContainer .post .top .author .authro_name {
  font-size: 24px;
  font-weight: 600;
}
.wrap .user .posts .postsContainer .post .top .time {
  font-size: 16px;
  font-weight: 300;
}
.wrap .user .posts .postsContainer .post .postImg {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}
.wrap .user .posts .postsContainer .post .postTitle {
  font-size: 28px;
  font-weight: 700;
}
.wrap .user .posts .postsContainer .post .postText {
  font-size: 16px;
  font-weight: 400;
  margin: 7px 0;
}
.wrap .user .posts .postsContainer .post .postText .postFullText {
  display: none;
}
.wrap .user .posts .postsContainer .post .readMore {
  text-decoration: none;
  color: #2C2E32;
  font-weight: 600;
  font-family: Urbanist;
}
.wrap .user .posts .postsContainer .post .postHashtags {
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .user .posts .postsContainer .post .actions {
  width: 180px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: #45474B;
  margin-top: 20px;
}
.wrap .user .posts .postsContainer .post i {
  transition: 0.5s ease;
}
.wrap .user .posts .postsContainer .post i:hover {
  color: #4F6F52;
}
.wrap .postCreation {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 0.8s ease-in-out;
  flex-direction: column;
  padding: 40px;
}
.wrap .postCreation #postCreation_xmark {
  font-size: 32px;
  color: #1A4D2E;
  position: absolute;
  top: 40px;
  right: 40px;
}
.wrap .postCreation #postTitle {
  border: none;
  outline: none;
  min-width: 215px;
  max-width: 450px;
  height: 48px;
  font-size: 48px;
  font-weight: 700;
  font-family: Urbanist;
  color: #45474B;
}
.wrap .postCreation #postTitle::-moz-placeholder {
  font-size: 48px;
  font-weight: 700;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation #postTitle::placeholder {
  font-size: 48px;
  font-weight: 700;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation .inputsAndPic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrap .postCreation .inputsAndPic .inputs {
  width: 55%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .postCreation .inputsAndPic .inputs #postText {
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.0745098039);
  border-radius: 15px;
  padding: 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: flex-start;
  resize: none;
  font-size: 24px;
  font-weight: 500;
  color: #45474B;
}
.wrap .postCreation .inputsAndPic .inputs #postText::-moz-placeholder {
  font-size: 24px;
  font-weight: 500;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation .inputsAndPic .inputs #postText::placeholder {
  font-size: 24px;
  font-weight: 500;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation .inputsAndPic .inputs #postHashtags {
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.0745098039);
  border-radius: 15px;
  padding: 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: flex-start;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  color: #45474B;
}
.wrap .postCreation .inputsAndPic .inputs #postHashtags::-moz-placeholder {
  font-size: 20px;
  font-weight: 500;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation .inputsAndPic .inputs #postHashtags::placeholder {
  font-size: 20px;
  font-weight: 500;
  font-family: Urbanist;
  color: rgba(69, 71, 75, 0.6392156863);
}
.wrap .postCreation .inputsAndPic .postPicture label {
  cursor: pointer;
  display: block;
  width: 545px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}
.wrap .postCreation .inputsAndPic .postPicture label img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .postCreation .inputsAndPic .postPicture input[type=file] {
  display: none;
}
.wrap .postCreation .buttons_con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 47px;
}
.wrap .postCreation .buttons_con .buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.wrap .postCreation .buttons_con .buttons button {
  width: 205px;
  height: 97px;
  border-radius: 15px;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  font-family: Urbanist;
  cursor: pointer;
}
.wrap .postCreation .buttons_con .buttons #cancel {
  border: #1A4D2E 2px solid;
  color: #1A4D2E;
  background-color: #fff;
}
.wrap .postCreation .buttons_con .buttons #cancel:hover {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .postCreation .buttons_con .buttons #post {
  color: #fff;
  background-color: #1A4D2E;
}
.wrap .postCreation .buttons_con .buttons #post:hover {
  background-color: #45474B;
  color: #F5EFE6;
}
.wrap .messageCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .messageCon .message {
  width: 580px;
  height: 200px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .messageCon .message h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
}
.wrap .messageCon .message .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .messageCon .message .buttons div {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Josefin Sans;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .messageCon .message .buttons #cancel {
  border: #1A4D2E 2px solid;
}
.wrap .messageCon .message .buttons #cancel:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .messageCon .message .buttons #confirm {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .messageCon .message .buttons #confirm:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .profileEditingCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .profileEditingCon .prodileEditingPopup {
  width: 600px;
  height: 450px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .profileEditingCon .prodileEditingPopup h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Urbanist;
}
.wrap .profileEditingCon .prodileEditingPopup .editing input, .wrap .profileEditingCon .prodileEditingPopup .editing textarea {
  border: none;
  outline: none;
  color: #45474B;
}
.wrap .profileEditingCon .prodileEditingPopup .editing textarea {
  resize: none;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon {
  display: flex;
  align-items: center;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .profile-picture-container {
  position: relative;
  display: inline-block;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .profile-picture-container #currentProfilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .profile-picture-container #editPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .nameEmail {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .nameEmail .nameCon {
  display: flex;
  margin-bottom: 5px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon .nameEmail .nameCon input {
  font-size: 24px;
  font-weight: 700;
  width: 80px;
  resize: horizontal;
  margin-right: 15px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .photoNameCon input {
  font-size: 16px;
  font-weight: 400;
}
.wrap .profileEditingCon .prodileEditingPopup .editing #editDescription {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .textInputCon {
  width: 100%;
  font-size: 16px;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .textInputCon input {
  width: 400px;
  font-weight: 300;
}
.wrap .profileEditingCon .prodileEditingPopup .editing .textInputCon span {
  font-weight: 600;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons div {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Josefin Sans;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons #cancelEditing {
  border: #1A4D2E 2px solid;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons #cancelEditing:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons #edit {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .profileEditingCon .prodileEditingPopup .buttons #edit:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .postEditingCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .postEditingCon .postEditingPopup {
  width: 700px;
  height: 430px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .postEditingCon .postEditingPopup h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}
.wrap .postEditingCon .postEditingPopup .editing {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.wrap .postEditingCon .postEditingPopup .editing input, .wrap .postEditingCon .postEditingPopup .editing textarea {
  border: none;
  outline: none;
  color: #45474B;
}
.wrap .postEditingCon .postEditingPopup .editing textarea {
  resize: none;
}
.wrap .postEditingCon .postEditingPopup .editing .post-picture-container {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
.wrap .postEditingCon .postEditingPopup .editing .post-picture-container #currentPostPicture {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}
.wrap .postEditingCon .postEditingPopup .editing .post-picture-container #editPostPicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.wrap .postEditingCon .postEditingPopup .editing .inputs {
  color: #45474B;
}
.wrap .postEditingCon .postEditingPopup .editing .inputs #editTitle {
  font-size: 24px;
  font-weight: 700;
  font-family: Josefin Sans;
}
.wrap .postEditingCon .postEditingPopup .editing .inputs #editBody {
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  font-family: Urbanist;
}
.wrap .postEditingCon .postEditingPopup .editing .inputs #editHashtags {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #1A4D2E;
}
.wrap .postEditingCon .postEditingPopup .buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap .postEditingCon .postEditingPopup .buttons div {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: Josefin Sans;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .postEditingCon .postEditingPopup .buttons #cancelPostEditing {
  border: #1A4D2E 2px solid;
}
.wrap .postEditingCon .postEditingPopup .buttons #cancelPostEditing:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .postEditingCon .postEditingPopup .buttons #editPost {
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .postEditingCon .postEditingPopup .buttons #editPost:hover {
  background-color: #45474B;
  color: #fff;
}
.wrap .settingsCon {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .settingsCon .settings {
  width: 400px;
  height: 230px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #45474B;
}
.wrap .settingsCon .settings #settingsXMark {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 32px;
  color: #45474B;
  transition: 0.5s ease-in-out;
}
.wrap .settingsCon .settings #settingsXMark:hover {
  color: #1A4D2E;
}
.wrap .settingsCon .settings h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.wrap .settingsCon .settings .settingsOption {
  display: flex;
  margin-top: 7px;
  width: 100%;
}
.wrap .settingsCon .settings .settingsOption span {
  font-size: 24px;
  font-weight: 300;
  margin-right: 10px;
}
.wrap .settingsCon .settings .settingsOption select {
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  color: #45474B;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDU0NzRDIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcsMTBsNSw1IDUsLTVaIi8+PC9zdmc+") no-repeat right 10px center;
  padding-right: 10px;
}
.wrap .settingsCon .settings .settingsOption .themeChanger {
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .settingsCon .settings .reportOption {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.wrap .settingsCon .settings .reportOption span {
  margin-left: 7px;
}
.wrap .settingsCon .settings .reportOption:hover {
  color: #1A4D2E;
  font-weight: 500;
  font-size: 17px;
}
.wrap .followingsPopupContainer {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2549019608);
  position: fixed;
  top: 0;
  left: 0;
}
.wrap .followingsPopupContainer .followingsPopup {
  width: 700px;
  height: 430px;
  padding: 40px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #45474B;
}
.wrap .followingsPopupContainer .followingsPopup #followingXmark {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 32px;
  color: #45474B;
  transition: 0.5s ease-in-out;
}
.wrap .followingsPopupContainer .followingsPopup .followers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .followingsPopupContainer .followingsPopup .followers h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-bottom: 15px;
}
.wrap .followingsPopupContainer .followingsPopup .followers .follower {
  width: 100%;
  height: 80px;
  border: #2C2E32 1px solid;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}
.wrap .followingsPopupContainer .followingsPopup .followers .follower .followerPic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .followingsPopupContainer .followingsPopup .followers .follower .followerName {
  font-size: 24px;
  font-weight: 600;
  color: #2C2E32;
  margin-left: 10px;
}
.wrap .followingsPopupContainer .followingsPopup .followers .follower .deleteFollower {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #2C2E32;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage h3 {
  color: #45474B;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-bottom: 15px;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage .follower {
  width: 100%;
  height: 80px;
  border: #2C2E32 1px solid;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage .follower .followerPic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage .follower .followerName {
  font-size: 24px;
  font-weight: 600;
  color: #2C2E32;
  margin-left: 10px;
}
.wrap .followingsPopupContainer .followingsPopup .followingsPopupStage .follower .deleteFollower {
  position: absolute;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #2C2E32;
}/*# sourceMappingURL=user.css.map */