@media screen and (max-width: 1440px) {
  .wrap {
    padding: 30px;
  }
  .wrap .user .posts .postsContainer .post {
    width: 420px;
  }
  .wrap .user .posts .likedPostsContainer .post {
    width: 420px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap {
    padding: 30px;
  }
  .wrap .user .posts .postsContainer .post {
    width: 420px;
  }
  .wrap .user .posts .likedPostsContainer .post {
    width: 420px;
  }
  .wrap #postForm .postCreation .inputsAndPic .inputs {
    width: 45%;
  }
  .wrap #postForm .postCreation .inputsAndPic .inputs textarea {
    width: 100%;
  }
  .wrap #postForm .postCreation .inputsAndPic .postPicture label {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .wrap {
    padding: 20px;
  }
  .wrap .user .userInfo .description {
    font-size: 15px;
  }
  .wrap .user .userInfo .placesVisited {
    font-size: 14px;
  }
  .wrap .user .userInfo .placesVisited .visitedPlaces {
    font-size: 14px;
    margin-left: 3px;
  }
  .wrap .user .userInfo .placesToVisit {
    font-size: 14px;
  }
  .wrap .user .userInfo .placesToVisit .toVisitPlaces {
    font-size: 14px;
    margin-left: 3px;
  }
  .wrap .user .posts .postsChanging .publishedPosts, .wrap .user .posts .postsChanging .likedPosts {
    font-size: 24px;
  }
  .wrap .user .posts .postsContainer .post {
    width: 100%;
  }
  .wrap .user .posts .likedPostsContainer .post {
    width: 100%;
  }
  .wrap #postForm .postCreation .inputsAndPic {
    height: 340px;
  }
  .wrap #postForm .postCreation .inputsAndPic .inputs {
    width: 45%;
    height: 100%;
  }
  .wrap #postForm .postCreation .inputsAndPic .inputs textarea {
    width: 100%;
  }
  .wrap #postForm .postCreation .inputsAndPic .inputs #postText {
    height: 200px;
    margin-bottom: 10px;
  }
  .wrap #postForm .postCreation .inputsAndPic .postPicture label {
    width: 360px;
    height: 100%;
  }
}
@media screen and (max-width: 426px) {
  .wrap {
    padding: 10px;
  }
  .wrap .menuContainer {
    z-index: 9998;
  }
  .wrap .user {
    padding: 20px;
    padding-top: 50px;
    width: 425px;
    position: absolute;
  }
  .wrap .user .userInfo {
    width: 100%;
  }
  .wrap .user .userInfo .userPicture {
    width: 100px;
    height: 100px;
  }
  .wrap .user .userInfo .FistLastName {
    font-size: 24px;
  }
  .wrap .user .userInfo .email {
    font-size: 14px;
  }
  .wrap .user .userInfo .description {
    width: 80%;
    font-size: 12px;
  }
  .wrap .user .userInfo .placesVisited {
    font-size: 14px;
  }
  .wrap .user .userInfo .placesVisited .visitedPlaces {
    font-size: 14px;
    margin-left: 0px;
  }
  .wrap .user .userInfo .placesToVisit {
    font-size: 14px;
  }
  .wrap .user .userInfo .placesToVisit .toVisitPlaces {
    font-size: 14px;
    margin-left: 3px;
  }
  .wrap .user .posts .postsChanging .publishedPosts, .wrap .user .posts .postsChanging .likedPosts {
    font-size: 22px;
  }
  .wrap .user .posts .postsContainer .post {
    width: 100%;
  }
  .wrap .user .posts .likedPostsContainer .post {
    width: 100%;
  }
  .wrap .profileEditingCon {
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
  }
  .wrap .profileEditingCon .prodileEditingPopup {
    width: 100%;
    padding: 30px 20px;
  }
  .wrap .profileEditingCon .prodileEditingPopup h3 {
    font-size: 24px;
  }
  .wrap .profileEditingCon .prodileEditingPopup #editPlacesVisited {
    width: 100%;
  }
  .wrap .profileEditingCon .prodileEditingPopup #editPlacesToVisit {
    width: 100%;
  }
  .wrap .settingsCon {
    width: 100%;
    padding: 0 20px;
  }
  .wrap .messageCon {
    width: 100%;
    padding: 0 20px;
    z-index: 9999;
  }
  .wrap .messageCon .message {
    width: 100%;
    padding: 25px;
  }
  .wrap .postCreation {
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
  }
  .wrap .postCreation .postPicture img {
    width: 300px;
  }
  .wrap .postCreation .prodileEditingPopup {
    width: 100%;
    padding: 30px 20px;
  }
  .wrap .postCreation .prodileEditingPopup h3 {
    font-size: 24px;
  }
  .wrap .postCreation .prodileEditingPopup #editPlacesVisited {
    width: 100%;
  }
  .wrap .postCreation .prodileEditingPopup #editPlacesToVisit {
    width: 100%;
  }
  .wrap .followingsPopupContainer {
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
  }
  .wrap .followingsPopupContainer .followingsPopup {
    width: 100%;
    padding: 20px;
    padding-top: 25px;
  }
  .wrap .followingsPopupContainer .followingsPopup #followingXmark {
    top: 20px;
    right: 20px;
  }
  .wrap .postEditingCon {
    width: 100%;
    z-index: 9999;
    padding: 0 20px;
  }
  .wrap .postEditingCon .postEditingPopup {
    width: 100%;
    padding: 20px;
    height: 470px;
  }
  .wrap .postEditingCon .postEditingPopup .editing {
    flex-direction: column;
  }
  .wrap .postEditingCon .postEditingPopup .editing .post-picture-container {
    width: 100%;
    height: 150px;
  }
  .wrap .postEditingCon .postEditingPopup .editing .post-picture-container #currentPostPicture {
    width: 100%;
    height: 100%;
  }
  .wrap .postEditingCon .postEditingPopup .editing .post-picture-container #editPostPicture {
    width: 100%;
    height: 100%;
  }
  .wrap .postEditingCon .postEditingPopup .editing .inputs {
    margin-top: 12px;
  }
  .wrap .postEditingCon .postEditingPopup .editing .inputs #editBody {
    margin-top: 9px;
    height: 70px;
  }
  .wrap .postEditingCon .postEditingPopup .buttons {
    margin-top: 0px;
  }
  .wrap .postEditingCon .postEditingPopup h3 {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 376px) {
  .wrap {
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .wrap .menuContainer {
    z-index: 9998;
    top: 15px;
    right: 15px;
  }
  .wrap .menuContainer .burger {
    height: 32px;
  }
  .wrap .menuContainer .burger .line {
    height: 5px;
  }
  .wrap .user {
    width: 100%;
    padding: 10px;
    padding-top: 50px;
    position: relative;
    max-width: 100%;
  }
  .wrap .user .userInfo {
    width: 100%;
    max-width: 99%;
  }
  .wrap .user .userInfo .userPicture {
    width: 80px;
    height: 80px;
  }
  .wrap .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrap .posts .postsContainer {
    width: 100%;
    justify-content: center;
  }
  .wrap .posts .postsContainer .post {
    width: 85%;
    max-width: 100%;
    height: auto;
  }
  .wrap .posts .postsContainer .post .postTitle {
    font-size: 24px;
  }
}
* {
  box-sizing: border-box;
}/*# sourceMappingURL=userResponsive.css.map */