* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #45474B;
  color: #fff;
}

::selection {
  background-color: #45474B;
  color: #fff;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-family: Josefin Sans;
}
.wrap p, .wrap button, .wrap span {
  font-family: Urbanist;
}
.wrap i, .wrap button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.wrap .backToMainArrow {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #1A4D2E;
  cursor: pointer;
  font-size: 32px;
}
.wrap .menuContainer {
  width: 52px;
  height: 46px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 35px;
  right: 35px;
  transition: height 0.8s ease, background-color 0.8s ease;
}
.wrap .menuContainer .burger {
  width: 42px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrap .menuContainer .burger .line {
  width: 100%;
  height: 7px;
  background-color: #1A4D2E;
  border-radius: 6px;
  transition: background-color 0.8s ease;
}
.wrap .menuContainer .sidebar {
  width: 100%;
  height: 0px;
  transition: height 0.8s ease;
}
.wrap .menuContainer .sidebar .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 0px;
}
.wrap .menuContainer:hover {
  height: 200px;
  background-color: #1A4D2E;
}
.wrap .menuContainer:hover .burger .line {
  background-color: #fff;
}
.wrap .menuContainer:hover .sidebar {
  height: 159px;
}
.wrap .menuContainer:hover .sidebar .icons {
  font-size: 28px;
}
.wrap .user {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.wrap .user .userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #45474B;
}
.wrap .user .userInfo .userPicture {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f0f0f0;
}
.wrap .user .userInfo .FistLastName {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}
.wrap .user .userInfo .email {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 7px;
}
.wrap .user .userInfo .description {
  width: 463px;
  font-size: 16px;
  font-weight: 400;
}
.wrap .user .userInfo .placesVisited {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 9px;
}
.wrap .user .userInfo .placesVisited .visitedPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .user .userInfo .placesToVisit {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 7px;
}
.wrap .user .userInfo .placesToVisit .toVisitPlaces {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 5px;
}
.wrap .posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.wrap .posts .postsChanging {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #1A4D2E 3px solid;
  height: 62px;
}
.wrap .posts .postsChanging .publishedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #1A4D2E;
  color: #fff;
}
.wrap .posts .postsChanging .likedPosts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 600;
  background-color: #fff;
  color: #1A4D2E;
}/*# sourceMappingURL=user.css.map */